<a href="https://colab.research.google.com/github/dsarbola/Bio-494-work/blob/master/Copy_of_spinal_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas dataframe exercises using the sprinter reaction time dataset.  
## Goal: Get familiar with basic dataframe operations

The code block below is a preamble that loads the libraries that we need and sets things up the way we like it.  You can copy and paste this preamble and put it in any notebook to have access to the same libraries.

In [0]:
# Tells the notebooks to view every graph "in line" automatically, rather than requiring a specific `show` command
%matplotlib inline 
# Loads the numpy library (for math stuff)
import numpy as np 
# Load the pandas library (what we use to create, explore, and analyze datasets)
import pandas as pd 
# Loads the matplotlib library (what we use to create graphs)
import matplotlib.pyplot as plt 
# Loads the seaborn library (what we use to create prettier graphs)
import seaborn as sns 
# Sets the default font size for graphs to 150% of its original value (for readability)
sns.set(font_scale=1.5)

#### First we load the original data into a Pandas dataframe called `df`

In [2]:
url = "https://raw.githubusercontent.com/rgerkin/neuro-data-analysis-course/master/data/spinal/2004-2016-Short-Races2.csv"
df = pd.read_csv(url) # Loads the data from that URL into a dataframe
df.head() # Shows the first few rows of that dataframe

,Unnamed: 0,POS,BIB,ATHLETE,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
0,0,1.0,NaN,Usain BOLT,JAMJAM,10.20 Q,0.186,100 m,Heats,M,2008
1,1,2.0,NaN,Daniel BAILEY,ANTANT,10.24 Q,0.198,100 m,Heats,M,2008
2,2,3.0,NaN,Vicente DE LIMA,BRABRA,10.26 Q,0.168,100 m,Heats,M,2008
3,3,4.0,NaN,Henry VIZCAÍNO,CUBCUB,10.28 q,0.157,100 m,Heats,M,2008
4,4,5.0,NaN,Fabio CERUTTI,ITAITA,10.49,0.136,100 m,Heats,M,2008

#### Now complete the numbered tasks below.  Read the question, then use the code block to fill in your solution

1) A method is just a function that belongs to an object (like a dataframe).  The `.head()` method is a good way to preview the data that you loaded.  Sometimes people work with datasets with thousands or even millions of rows.  You usually don't need to see them all at once!  But sometimes you want to see more than 5 rows.  Try passing an argument to `.head()`, in order to see more rows.  For example, `.head(10)` to see 10 rows.  Or pick some other number.

In [3]:
# Fill in your answer to 1 here
df.head(7)

,Unnamed: 0,POS,BIB,ATHLETE,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
0,0,1.0,NaN,Usain BOLT,JAMJAM,10.20 Q,0.186,100 m,Heats,M,2008
1,1,2.0,NaN,Daniel BAILEY,ANTANT,10.24 Q,0.198,100 m,Heats,M,2008
2,2,3.0,NaN,Vicente DE LIMA,BRABRA,10.26 Q,0.168,100 m,Heats,M,2008
3,3,4.0,NaN,Henry VIZCAÍNO,CUBCUB,10.28 q,0.157,100 m,Heats,M,2008
4,4,5.0,NaN,Fabio CERUTTI,ITAITA,10.49,0.136,100 m,Heats,M,2008
5,5,6.0,NaN,Jurgen THEMEN,SURSUR,10.61,0.179,100 m,Heats,M,2008
6,6,7.0,NaN,Moses KAMUT,VANVAN,10.81,0.181,100 m,Heats,M,2008

2) You can also look at the *last* few rows of the data, using the `.tail()` method. Try viewing the last 12 rows of the dataset.

In [4]:
# Fill in your answer to 2 here
df.tail(12)

,Unnamed: 0,POS,BIB,ATHLETE,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
2445,2445,3.0,NaN,Taiwo ALADEFA-DARDEN,NGRNGR,13.06,NaN,100 m H,Heats,F,1996
2446,2446,4.0,NaN,Lidiya YURKOVA,BLRBLR,13.2,NaN,100 m H,Heats,F,1996
2447,2447,5.0,NaN,Nadezhda BODROVA,UKRUKR,13.22,NaN,100 m H,Heats,F,1996
2448,2448,6.0,NaN,Rachael ROGERS,FIJFIJ,14.07,NaN,100 m H,Heats,F,1996
2449,2449,NaN,NaN,Elisabeta ANGHEL,ROUROU,DNF,NaN,100 m H,Heats,F,1996
2450,2450,1.0,NaN,Gail DEVERS,USAUSA,12.73,NaN,100 m H,Heats,F,1996
2451,2451,2.0,NaN,Gillian RUSSELL-LOVE,JAMJAM,12.85,NaN,100 m H,Heats,F,1996
2452,2452,3.0,NaN,Yuliya GRAUDYN,RUSRUS,12.95,NaN,100 m H,Heats,F,1996
2453,2453,4.0,NaN,Ime AKPAN,NGRNGR,13.11,NaN,100 m H,Heats,F,1996
2454,2454,5.0,NaN,Olena KRASOVSKA,UKRUKR,13.23,NaN,100 m H,Heats,F,1996
2455,2455,6.0,NaN,Véronique LINSTER,LUXLUX,13.47,NaN,100 m H,Heats,F,1996
2456,2456,NaN,NaN,Carla TUZZI,ITAITA,DNF,NaN,100 m H,Heats,F,1996

3) How much data do you have?  You can find how many rows and columns you have with the `.shape` attribute.  Note the lack of parentheses here.  Attributes differ from methods in that they don't actually do anything (like print out information, or make a plot), but you can access their value to get information about your data.  The `.shape` attribute reports the number of rows and columns of the dataframe.  How many columns does the dataframe have?

In [5]:
# Fill in your answer to 3 here
df.shape

(2457, 11)

4) Sometimes you only care about one column in your dataframe.  You can access it be name.  For example, `df['ATHLETE']` will access the "ATHLETE" column.  Access the column for reaction time.

In [6]:
# Fill in your answer to 4 here
df['RxnTime']

0       0.186
1       0.198
2       0.168
3       0.157
4       0.136
5       0.179
6       0.181
7       0.197
8       0.142
9       0.162
10      0.174
11      0.178
12      0.144
13      0.144
14      0.159
15      0.190
16      0.188
17      0.162
18      0.140
19      0.177
20      0.140
21      0.175
22      0.123
23      0.152
24      0.156
25      0.141
26      0.139
27      0.160
28      0.184
29      0.171
        ...
2427      NaN
2428      NaN
2429      NaN
2430      NaN
2431      NaN
2432      NaN
2433      NaN
2434      NaN
2435      NaN
2436      NaN
2437      NaN
2438      NaN
2439      NaN
2440      NaN
2441      NaN
2442      NaN
2443      NaN
2444      NaN
2445      NaN
2446      NaN
2447      NaN
2448      NaN
2449      NaN
2450      NaN
2451      NaN
2452      NaN
2453      NaN
2454      NaN
2455      NaN
2456      NaN
Name: RxnTime, Length: 2457, dtype: float64

5) Notice that the above doesn't look like a dataframe anymore.  That's because you've only accessed one column, so the two-dimensional dataset (rows x columns) is now only one-dimensional. One-dimensional data in Pandas is convered into a so-called "Series".  Many of the same methods that belong to dataframes also belong to a series, e.g. `.head()` or `.mean()`.  Find the median reaction time as you did in the earlier homework assignment, but operating directly on the series containing the reaction times.

In [7]:
# Fill in your answer to 5 here
df.median()

Unnamed: 0    1228.000
POS              4.000
BIB           2116.000
RxnTime          0.165
Year          2008.000
dtype: float64

6) Sometimes you want to keep a dataframe, but just with fewer columns.  For example, only the name and reaction time.  You do this with an extra set of brackets, i.e. `df[['col1','col2']]` if you wanted to access hypothetical columns named 'col1' and 'col2'.  Try generating a dataframe that has only the name and reaction time columns from the original dataset.

In [9]:
# Fill in your answer to 6 here
df[['ATHLETE','RxnTime']]

                          ATHLETE  RxnTime
0                      Usain BOLT    0.186
1                   Daniel BAILEY    0.198
2                 Vicente DE LIMA    0.168
3                  Henry VIZCAÍNO    0.157
4                   Fabio CERUTTI    0.136
5                   Jurgen THEMEN    0.179
6                     Moses KAMUT    0.181
7                 Francis MANIORU    0.197
8                    Asafa POWELL    0.142
9                     Kim COLLINS    0.162
10                Craig PICKERING    0.174
11                  Daniel GRUESO    0.178
12                    Dariusz KUC    0.144
13          Berenger Aymard BOSSE    0.144
14                     Aisea TOHI    0.159
15                    Roman CRESS    0.190
16               Richard THOMPSON    0.188
17              Martial MBANDJOCK    0.162
18                  Simone COLLIO    0.140
19                    Aziz ZAKARI    0.177
20                   Andrew HINDS    0.140
21             Suryo Agung WIBOWO    0.175
22                    Jared LEWIS    0.123
23                Rabangaki NAWAI    0.152
24                 Michael FRATER    0.156
25                  Pierre BROWNE    0.141
26                   Darrel BROWN    0.139
27               Nobuharu ASAHARA    0.160
28                Holder DA SILVA    0.184
29                  Idrissa SANOU    0.171
...                           ...      ...
2427               Lesley TASHLIN      NaN
2428             Ludmila ENGQUIST      NaN
2429                 Angela ATEDE      NaN
2430        María José MARDOMINGO      NaN
2431  Monique ÉWANJÉ-ÉPÉE TOURRET      NaN
2432           Lena SOLLI-REIMANN      NaN
2433           Natalya GRIGORYEVA      NaN
2434               Sonia PAQUETTE      NaN
2435                Julie BAUMANN      NaN
2436                 Angela THORP      NaN
2437          Lynda TOLBERT-GOODE      NaN
2438             Kristin PATZWAHL      NaN
2439         Tatyana RESHETNIKOVA      NaN
2440                Cécile CINÉLU      NaN
2441                Bich Huong VU      NaN
2442               Aminata CAMARA      NaN
2443              Brigita BUKOVEC      NaN
2444           Dionne ROSE-HENLEY      NaN
2445         Taiwo ALADEFA-DARDEN      NaN
2446               Lidiya YURKOVA      NaN
2447             Nadezhda BODROVA      NaN
2448               Rachael ROGERS      NaN
2449             Elisabeta ANGHEL      NaN
2450                  Gail DEVERS      NaN
2451         Gillian RUSSELL-LOVE      NaN
2452               Yuliya GRAUDYN      NaN
2453                    Ime AKPAN      NaN
2454              Olena KRASOVSKA      NaN
2455            Véronique LINSTER      NaN
2456                  Carla TUZZI      NaN

[2457 rows x 2 columns]

7) Columns have names ('ATHLETE', 'COUNTRY', etc.), but so do rows.  The row names are part of the so-called "index" of the dataframe (or series), and allow you to access data more intuitively than just by row number.  In this case though, the names in the index are the row numbers.  You can extract row 144 with `df.loc[144]`.  Note the use of the `.loc` attribute, and the brackets instead of parentheses.  Use this extract the row containing Usain Bolt's 2008 preliminary heats data (hint, it is at the beginning of the dataframe).

In [11]:
# Fill in your answer to 7 here
df.loc[0]

Unnamed: 0             0
POS                    1
BIB                  NaN
ATHLETE       Usain BOLT
COUNTRY           JAMJAM
MARK             10.20 Q
RxnTime            0.186
Race               100 m
Round              Heats
Gender                 M
Year                2008
Name: 0, dtype: object

8) You can access specific cells of the dataframe by row and column using `.loc`, e.g. `df.loc[7,'Country']`.  You can also edit data the same way.  Maybe Usain Bolt's preliminary heats time was faster than reported, say 9.5 seconds?  Edit the dataframe with `.loc` to make that change.  Be sure to use the `=` sign or you won't actually make the change!

In [12]:
# Fill in your answer to 8 here
df.loc[0,'MARK'] =9.5
df.head()

,Unnamed: 0,POS,BIB,ATHLETE,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
0,0,1.0,NaN,Usain BOLT,JAMJAM,9.5,0.186,100 m,Heats,M,2008
1,1,2.0,NaN,Daniel BAILEY,ANTANT,10.24 Q,0.198,100 m,Heats,M,2008
2,2,3.0,NaN,Vicente DE LIMA,BRABRA,10.26 Q,0.168,100 m,Heats,M,2008
3,3,4.0,NaN,Henry VIZCAÍNO,CUBCUB,10.28 q,0.157,100 m,Heats,M,2008
4,4,5.0,NaN,Fabio CERUTTI,ITAITA,10.49,0.136,100 m,Heats,M,2008

9) I don't like the way this data is organized.  Accessing it by arbitrary row numbers is not intuitive at all.  Let's organize the data by athlete name and year instead, using the `set_index()` method.  Inside the parentheses, put a list containing the column name indicating athlete name and the column name indicating the year.  Don't forget quotes and brackets!

In [13]:
# Fill in your answer to 9 here
df.set_index(['ATHLETE','Year'])

,,Unnamed: 0,POS,BIB,COUNTRY,MARK,RxnTime,Race,Round,Gender
ATHLETE,Year,,,,,,,,,
Usain BOLT,2008,0,1.0,NaN,JAMJAM,9.5,0.186,100 m,Heats,M
Daniel BAILEY,2008,1,2.0,NaN,ANTANT,10.24 Q,0.198,100 m,Heats,M
Vicente DE LIMA,2008,2,3.0,NaN,BRABRA,10.26 Q,0.168,100 m,Heats,M
Henry VIZCAÍNO,2008,3,4.0,NaN,CUBCUB,10.28 q,0.157,100 m,Heats,M
Fabio CERUTTI,2008,4,5.0,NaN,ITAITA,10.49,0.136,100 m,Heats,M
Jurgen THEMEN,2008,5,6.0,NaN,SURSUR,10.61,0.179,100 m,Heats,M
Moses KAMUT,2008,6,7.0,NaN,VANVAN,10.81,0.181,100 m,Heats,M
Francis MANIORU,2008,7,8.0,NaN,SOLSOL,11.09,0.197,100 m,Heats,M
Asafa POWELL,2008,8,1.0,NaN,JAMJAM,10.16 Q,0.142,100 m,Heats,M
Kim COLLINS,2008,9,2.0,NaN,SKNSKN,10.17 Q,0.162,100 m,Heats,M
Craig PICKERING,2008,10,3.0,NaN,GBRGBR,10.21 Q,0.174,100 m,Heats,M
Daniel GRUESO,2008,11,4.0,NaN,COLCOL,10.35 q,0.178,100 m,Heats,M
Dariusz KUC,2008,12,5.0,NaN,POLPOL,10.44 q,0.144,100 m,Heats,M
Berenger Aymard BOSSE,2008,13,6.0,NaN,CAFCAF,10.51,0.144,100 m,Heats,M
Aisea TOHI,2008,14,7.0,NaN,TGATGA,11.17,0.159,100 m,Heats,M
Roman CRESS,2008,15,8.0,NaN,MHLMHL,11.18,0.190,100 m,Heats,M
Richard THOMPSON,2008,16,1.0,NaN,TTOTTO,10.24 Q,0.188,100 m,Heats,M
Martial MBANDJOCK,2008,17,2.0,NaN,FRAFRA,10.26 Q,0.162,100 m,Heats,M
Simone COLLIO,2008,18,3.0,NaN,ITAITA,10.32 Q,0.140,100 m,Heats,M
Aziz ZAKARI,2008,19,4.0,NaN,GHAGHA,10.34 q,0.177,100 m,Heats,M
Andrew HINDS,2008,20,5.0,NaN,BARBAR,10.35 q,0.140,100 m,Heats,M
Suryo Agung WIBOWO,2008,21,6.0,NaN,INAINA,10.46,0.175,100 m,Heats,M
Jared LEWIS,2008,22,7.0,NaN,VINVIN,11,0.123,100 m,Heats,M
Rabangaki NAWAI,2008,23,8.0,NaN,KIRKIR,11.29,0.152,100 m,Heats,M
Michael FRATER,2008,24,1.0,NaN,JAMJAM,10.15 Q,0.156,100 m,Heats,M
Pierre BROWNE,2008,25,2.0,NaN,CANCAN,10.22 Q,0.141,100 m,Heats,M
Darrel BROWN,2008,26,3.0,NaN,TTOTTO,10.22 Q,0.139,100 m,Heats,M
Nobuharu ASAHARA,2008,27,4.0,NaN,JPNJPN,10.25 q,0.160,100 m,Heats,M
Holder DA SILVA,2008,28,5.0,NaN,GBSGBS,10.58,0.184,100 m,Heats,M
Idrissa SANOU,2008,29,6.0,NaN,BURBUR,10.63,0.171,100 m,Heats,M
...,...,...,...,...,...,...,...,...,...,...
Lesley TASHLIN,1996,2427,7.0,NaN,CANCAN,13.61,NaN,100 m H,Heats,F
Ludmila ENGQUIST,1996,2428,1.0,NaN,SWESWE,12.66,NaN,100 m H,Heats,F
Angela ATEDE,1996,2429,2.0,NaN,NGRNGR,12.88,NaN,100 m H,Heats,F
María José MARDOMINGO,1996,2430,3.0,NaN,ESPESP,12.91,NaN,100 m H,Heats,F
Monique ÉWANJÉ-ÉPÉE TOURRET,1996,2431,4.0,NaN,FRAFRA,13.12,NaN,100 m H,Heats,F
Lena SOLLI-REIMANN,1996,2432,5.0,NaN,NORNOR,13.13,NaN,100 m H,Heats,F
Natalya GRIGORYEVA,1996,2433,6.0,NaN,UKRUKR,13.16,NaN,100 m H,Heats,F
Sonia PAQUETTE,1996,2434,7.0,NaN,CANCAN,13.29,NaN,100 m H,Heats,F
Julie BAUMANN,1996,2435,1.0,NaN,SUISUI,12.86,NaN,100 m H,Heats,F
Angela THORP,1996,2436,2.0,NaN,GBRGBR,12.93,NaN,100 m H,Heats,F
Lynda TOLBERT-GOODE,1996,2437,3.0,NaN,USAUSA,12.97,NaN,100 m H,Heats,F
Kristin PATZWAHL,1996,2438,4.0,NaN,GERGER,12.98,NaN,100 m H,Heats,F
Tatyana RESHETNIKOVA,1996,2439,5.0,NaN,RUSRUS,13.01,NaN,100 m H,Heats,F
Cécile CINÉLU,1996,2440,6.0,NaN,FRAFRA,13.05,NaN,100 m H,Heats,F
Bich Huong VU,1996,2441,7.0,NaN,VIEVIE,13.85,NaN,100 m H,Heats,F
Aminata CAMARA,1996,2442,8.0,NaN,MLIMLI,14.94,NaN,100 m H,Heats,F
Brigita BUKOVEC,1996,2443,1.0,NaN,SLOSLO,12.72,NaN,100 m H,Heats,F
Dionne ROSE-HENLEY,1996,2444,2.0,NaN,JAMJAM,12.81,NaN,100 m H,Heats,F
Taiwo ALADEFA-DARDEN,1996,2445,3.0,NaN,NGRNGR,13.06,NaN,100 m H,Heats,F
Lidiya YURKOVA,1996,2446,4.0,NaN,BLRBLR,13.2,NaN,100 m H,Heats,F
Nadezhda BODROVA,1996,2447,5.0,NaN,UKRUKR,13.22,NaN,100 m H,Heats,F
Rachael ROGERS,1996,2448,6.0,NaN,FIJFIJ,14.07,NaN,100 m H,Heats,F
Elisabeta ANGHEL,1996,2449,NaN,NaN,ROUROU,DNF,NaN,100 m H,Heats,F
Gail DEVERS,1996,2450,1.0,NaN,USAUSA,12.73,NaN,100 m H,Heats,F
Gillian RUSSELL-LOVE,1996,2451,2.0,NaN,JAMJAM,12.85,NaN,100 m H,Heats,F
Yuliya GRAUDYN,1996,2452,3.0,NaN,RUSRUS,12.95,NaN,100 m H,Heats,F
Ime AKPAN,1996,2453,4.0,NaN,NGRNGR,13.11,NaN,100 m H,Heats,F
Olena KRASOVSKA,1996,2454,5.0,NaN,UKRUKR,13.23,NaN,100 m H,Heats,F
Véronique LINSTER,1996,2455,6.0,NaN,LUXLUX,13.47,NaN,100 m H,Heats,F
Carla TUZZI,1996,2456,NaN,NaN,ITAITA,DNF,NaN,100 m H,Heats,F

10) That's OK, but it doesn't look much nicer.  Maybe if it the index was sorted?  If you've ever done a hierarchical sort in Excel, this will be similar.  Try the same command as above, but append `.sort_index()`  to it

In [14]:
# Fill in your answer to 10 here
df.set_index(['ATHLETE','Year'])
df.sort_index()

,Unnamed: 0,POS,BIB,ATHLETE,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
0,0,1.0,NaN,Usain BOLT,JAMJAM,9.5,0.186,100 m,Heats,M,2008
1,1,2.0,NaN,Daniel BAILEY,ANTANT,10.24 Q,0.198,100 m,Heats,M,2008
2,2,3.0,NaN,Vicente DE LIMA,BRABRA,10.26 Q,0.168,100 m,Heats,M,2008
3,3,4.0,NaN,Henry VIZCAÍNO,CUBCUB,10.28 q,0.157,100 m,Heats,M,2008
4,4,5.0,NaN,Fabio CERUTTI,ITAITA,10.49,0.136,100 m,Heats,M,2008
5,5,6.0,NaN,Jurgen THEMEN,SURSUR,10.61,0.179,100 m,Heats,M,2008
6,6,7.0,NaN,Moses KAMUT,VANVAN,10.81,0.181,100 m,Heats,M,2008
7,7,8.0,NaN,Francis MANIORU,SOLSOL,11.09,0.197,100 m,Heats,M,2008
8,8,1.0,NaN,Asafa POWELL,JAMJAM,10.16 Q,0.142,100 m,Heats,M,2008
9,9,2.0,NaN,Kim COLLINS,SKNSKN,10.17 Q,0.162,100 m,Heats,M,2008
10,10,3.0,NaN,Craig PICKERING,GBRGBR,10.21 Q,0.174,100 m,Heats,M,2008
11,11,4.0,NaN,Daniel GRUESO,COLCOL,10.35 q,0.178,100 m,Heats,M,2008
12,12,5.0,NaN,Dariusz KUC,POLPOL,10.44 q,0.144,100 m,Heats,M,2008
13,13,6.0,NaN,Berenger Aymard BOSSE,CAFCAF,10.51,0.144,100 m,Heats,M,2008
14,14,7.0,NaN,Aisea TOHI,TGATGA,11.17,0.159,100 m,Heats,M,2008
15,15,8.0,NaN,Roman CRESS,MHLMHL,11.18,0.190,100 m,Heats,M,2008
16,16,1.0,NaN,Richard THOMPSON,TTOTTO,10.24 Q,0.188,100 m,Heats,M,2008
17,17,2.0,NaN,Martial MBANDJOCK,FRAFRA,10.26 Q,0.162,100 m,Heats,M,2008
18,18,3.0,NaN,Simone COLLIO,ITAITA,10.32 Q,0.140,100 m,Heats,M,2008
19,19,4.0,NaN,Aziz ZAKARI,GHAGHA,10.34 q,0.177,100 m,Heats,M,2008
20,20,5.0,NaN,Andrew HINDS,BARBAR,10.35 q,0.140,100 m,Heats,M,2008
21,21,6.0,NaN,Suryo Agung WIBOWO,INAINA,10.46,0.175,100 m,Heats,M,2008
22,22,7.0,NaN,Jared LEWIS,VINVIN,11,0.123,100 m,Heats,M,2008
23,23,8.0,NaN,Rabangaki NAWAI,KIRKIR,11.29,0.152,100 m,Heats,M,2008
24,24,1.0,NaN,Michael FRATER,JAMJAM,10.15 Q,0.156,100 m,Heats,M,2008
25,25,2.0,NaN,Pierre BROWNE,CANCAN,10.22 Q,0.141,100 m,Heats,M,2008
26,26,3.0,NaN,Darrel BROWN,TTOTTO,10.22 Q,0.139,100 m,Heats,M,2008
27,27,4.0,NaN,Nobuharu ASAHARA,JPNJPN,10.25 q,0.160,100 m,Heats,M,2008
28,28,5.0,NaN,Holder DA SILVA,GBSGBS,10.58,0.184,100 m,Heats,M,2008
29,29,6.0,NaN,Idrissa SANOU,BURBUR,10.63,0.171,100 m,Heats,M,2008
...,...,...,...,...,...,...,...,...,...,...,...
2427,2427,7.0,NaN,Lesley TASHLIN,CANCAN,13.61,NaN,100 m H,Heats,F,1996
2428,2428,1.0,NaN,Ludmila ENGQUIST,SWESWE,12.66,NaN,100 m H,Heats,F,1996
2429,2429,2.0,NaN,Angela ATEDE,NGRNGR,12.88,NaN,100 m H,Heats,F,1996
2430,2430,3.0,NaN,María José MARDOMINGO,ESPESP,12.91,NaN,100 m H,Heats,F,1996
2431,2431,4.0,NaN,Monique ÉWANJÉ-ÉPÉE TOURRET,FRAFRA,13.12,NaN,100 m H,Heats,F,1996
2432,2432,5.0,NaN,Lena SOLLI-REIMANN,NORNOR,13.13,NaN,100 m H,Heats,F,1996
2433,2433,6.0,NaN,Natalya GRIGORYEVA,UKRUKR,13.16,NaN,100 m H,Heats,F,1996
2434,2434,7.0,NaN,Sonia PAQUETTE,CANCAN,13.29,NaN,100 m H,Heats,F,1996
2435,2435,1.0,NaN,Julie BAUMANN,SUISUI,12.86,NaN,100 m H,Heats,F,1996
2436,2436,2.0,NaN,Angela THORP,GBRGBR,12.93,NaN,100 m H,Heats,F,1996
2437,2437,3.0,NaN,Lynda TOLBERT-GOODE,USAUSA,12.97,NaN,100 m H,Heats,F,1996
2438,2438,4.0,NaN,Kristin PATZWAHL,GERGER,12.98,NaN,100 m H,Heats,F,1996
2439,2439,5.0,NaN,Tatyana RESHETNIKOVA,RUSRUS,13.01,NaN,100 m H,Heats,F,1996
2440,2440,6.0,NaN,Cécile CINÉLU,FRAFRA,13.05,NaN,100 m H,Heats,F,1996
2441,2441,7.0,NaN,Bich Huong VU,VIEVIE,13.85,NaN,100 m H,Heats,F,1996
2442,2442,8.0,NaN,Aminata CAMARA,MLIMLI,14.94,NaN,100 m H,Heats,F,1996
2443,2443,1.0,NaN,Brigita BUKOVEC,SLOSLO,12.72,NaN,100 m H,Heats,F,1996
2444,2444,2.0,NaN,Dionne ROSE-HENLEY,JAMJAM,12.81,NaN,100 m H,Heats,F,1996
2445,2445,3.0,NaN,Taiwo ALADEFA-DARDEN,NGRNGR,13.06,NaN,100 m H,Heats,F,1996
2446,2446,4.0,NaN,Lidiya YURKOVA,BLRBLR,13.2,NaN,100 m H,Heats,F,1996
2447,2447,5.0,NaN,Nadezhda BODROVA,UKRUKR,13.22,NaN,100 m H,Heats,F,1996
2448,2448,6.0,NaN,Rachael ROGERS,FIJFIJ,14.07,NaN,100 m H,Heats,F,1996
2449,2449,NaN,NaN,Elisabeta ANGHEL,ROUROU,DNF,NaN,100 m H,Heats,F,1996
2450,2450,1.0,NaN,Gail DEVERS,USAUSA,12.73,NaN,100 m H,Heats,F,1996
2451,2451,2.0,NaN,Gillian RUSSELL-LOVE,JAMJAM,12.85,NaN,100 m H,Heats,F,1996
2452,2452,3.0,NaN,Yuliya GRAUDYN,RUSRUS,12.95,NaN,100 m H,Heats,F,1996
2453,2453,4.0,NaN,Ime AKPAN,NGRNGR,13.11,NaN,100 m H,Heats,F,1996
2454,2454,5.0,NaN,Olena KRASOVSKA,UKRUKR,13.23,NaN,100 m H,Heats,F,1996
2455,2455,6.0,NaN,Véronique LINSTER,LUXLUX,13.47,NaN,100 m H,Heats,F,1996
2456,2456,NaN,NaN,Carla TUZZI,ITAITA,DNF,NaN,100 m H,Heats,F,1996

11) Display the dataframe again by entering `df` on an empty line (e.g. in the code cell below, or create a new code cell).  Does it reflect the changes you made above?  If not, it's because `.set_index()`, `.sort_index()` (and most other methods) only return modified copies of your data; they don't overwrite it.  If you want to work with that modified copy, set the original dataframe equal to it, i.e. `df = ...` where `...` would contain the command you used above.

In [15]:
# Fill in your answer to 11 here
df = df.reset_index().set_index(['ATHLETE','Year'])
df = df.sort_index()
df.head(12)

                              index  Unnamed: 0  POS     BIB COUNTRY     MARK  \
ATHLETE                 Year
Aaron BROWN             2016   1147        1147  3.0  2192.0  CANCAN    10.24
Abdul GHAFOOR           1996   2257        2257  8.0     NaN  AFGAFG     12.2
Abdul RASHID            2008    378         378  8.0     NaN  PAKPAK    14.52
Abdul Wahab ZAHIRI      2016   1068        1068  7.0  2000.0  AFGAFG    11.56
Abdullah AL-SOOLI       2008     44          44  5.0     NaN  OMAOMA    10.53
Abdullah Abkar MOHAMMED 2016   1106        1106  5.0  2717.0  KSAKSA    10.26
Abiodun OYEPITAN        2004   1316        1316  2.0     NaN  GBRGBR  11.23 Q
                        2004   1324        1324  3.0     NaN  GBRGBR  11.28 Q
                        2004   1358        1358  5.0     NaN  GBRGBR    11.18
                        2012    509         509  5.0  1869.0  GBRGBR  11.22 q
                        2012    551         551  7.0  1869.0  GBRGBR    11.36
Abraham KEPSIN          2000   1772        1772  8.0     NaN  VANVAN    11.12

                              RxnTime     Race        Round Gender
ATHLETE                 Year
Aaron BROWN             2016    0.135    100 m        Heats      M
Abdul GHAFOOR           1996      NaN    100 m        Heats      M
Abdul RASHID            2008    0.172  110 m H        Heats      M
Abdul Wahab ZAHIRI      2016    0.170    100 m  Preliminary      M
Abdullah AL-SOOLI       2008    0.153    100 m        Heats      M
Abdullah Abkar MOHAMMED 2016    0.154    100 m        Heats      M
Abiodun OYEPITAN        2004    0.181    100 m        Heats      F
                        2004    0.198    100 m      Quarter      F
                        2004    0.140    100 m         Semi      F
                        2012    0.153    100 m        Heats      F
                        2012    0.151    100 m         Semi      F
Abraham KEPSIN          2000    0.172    100 m        Heats      M

Now that `df` has been changed, some of the commands in the earlier questions won't work the same.  So you won't be able to access e.g. `df.loc[7]` anymore, because there is no longer a row named 7!  This is why you should always execute notebooks from top to bottom.  Each notebook cell can change the data in a way that a cell above it doesn't know about.

12) But now we have an intuitive index for the data frame.  Instead of accessing something like `df.loc[7]` we can access by name and year (using the same `.loc` attribute).  First just try accessing Usain Bolt's data by name (note that his last name is all capital letters in this dataset).  Note that it will contain results from several races across several years.

In [16]:
# Fill in your answer to 12 here
df.loc['Usain BOLT']

,index,Unnamed: 0,POS,BIB,COUNTRY,MARK,RxnTime,Race,Round,Gender
Year,,,,,,,,,,
2008,0,0,1.0,NaN,JAMJAM,9.5,0.186,100 m,Heats,M
2008,104,104,1.0,NaN,JAMJAM,9.92 Q,0.165,100 m,Quarter,M
2008,120,120,1.0,NaN,JAMJAM,9.85 Q,0.161,100 m,Semi,M
2008,136,136,1.0,NaN,JAMJAM,9.69,0.165,100 m,Final,M
2012,630,630,1.0,2170.0,JAMJAM,10.09 Q,0.178,100 m,Heats,M
2012,670,670,1.0,2170.0,JAMJAM,9.87 Q,0.180,100 m,Semi,M
2012,686,686,1.0,2170.0,JAMJAM,9.63,0.165,100 m,Final,M
2016,1136,1136,1.0,2612.0,JAMJAM,10.07 Q,0.156,100 m,Heats,M
2016,1162,1162,1.0,2612.0,JAMJAM,9.86 Q,0.143,100 m,Semi,M
2016,1178,1178,1.0,2612.0,JAMJAM,9.81,0.155,100 m,Final,M

13) You can further restrict the data to a single year by using the `.loc` attribute again ("chaining" operations together), and now including a specific year.  Access Usain Bolt's data for 2008.  Hint: it will look just like the answer above, but with an extra `.loc` appended on.

In [18]:
# Fill in your answer to 13 here
df.loc['Usain BOLT'].loc[2008]

,index,Unnamed: 0,POS,BIB,COUNTRY,MARK,RxnTime,Race,Round,Gender
Year,,,,,,,,,,
2008,0,0,1.0,NaN,JAMJAM,9.5,0.186,100 m,Heats,M
2008,104,104,1.0,NaN,JAMJAM,9.92 Q,0.165,100 m,Quarter,M
2008,120,120,1.0,NaN,JAMJAM,9.85 Q,0.161,100 m,Semi,M
2008,136,136,1.0,NaN,JAMJAM,9.69,0.165,100 m,Final,M

14) How fast does Usain Bolt react to the starting gun?  Find his minimum Olympic sprint reaction time by acessing his data using `.loc`, accessing reaction time by column name, and then computing the minimum.  Hint: the *maximum* is obtained with the `.max()` method.

In [19]:
# Fill in your answer to 14 here
df.loc['Usain BOLT']['RxnTime'].max()

0.18600000000000005

15) Usain Bolt was the fastest 100m sprinter of all time, but he didn't try his hardest until the finals of each meet (he didn't need to).  Let's extract only his data from the finals.  This takes only one step, but we'll do it in two to make the idea clear.  First, let's generate a series that tells us whether it is True or False that a given race was a final.  Just paste `df['Round'] == 'Final'` in the cell below.  You will see a series containig some `True` values and some `False` values (mostly the latter), reflecting rows containing data from finals vs. other rounds.  Note the ellipsis halfway down, which represents all the data (hundreds of rows) it isn't showing you to save space.

In [20]:
# Fill in your answer to 15 here
df['Round']=='Final'

ATHLETE                    Year
Aaron BROWN                2016    False
Abdul GHAFOOR              1996    False
Abdul RASHID               2008    False
Abdul Wahab ZAHIRI         2016    False
Abdullah AL-SOOLI          2008    False
Abdullah Abkar MOHAMMED    2016    False
Abiodun OYEPITAN           2004    False
                           2004    False
                           2004    False
                           2012    False
                           2012    False
Abraham KEPSIN             2000    False
Adam GEMILI                2012    False
                           2012    False
Adrian DURANT              2004    False
Adrian GRIFFITH            2016    False
Adrian WOODLEY             2000    False
                           2000    False
Adrien DEGHELT             2012    False
                           2012    False
Afa ISMAIL                 2012    False
Affoué Amandine ALLOU      2004    False
                           2008    False
Agné EGGERTH               2000    False
                           2004    False
Ahmad HAZER                2012    False
                           2016    False
Ahmed DOUHOU               1996    False
Aisea TOHI                 2008    False
Aissata TOURÉ              2012    False
                                   ...
Yuniel HERNÁNDEZ           2004    False
Yuriy ARISTOV              1996    False
Yvette LEWIS               2016    False
Yvonne KANAZAWA            1996    False
                           2000    False
                           2000    False
                           2000    False
Zaidatul Husniah ZULKIFLI  2016    False
                           2016    False
Zhanna BLOCK               1996    False
                           2000    False
                           2000    False
                           2000    False
                           2000     True
                           2004    False
                           2004    False
                           2004    False
Zhenye XIE                 2016    False
                           2016    False
Zhivko VIDENOV             2000    False
Zlatka GEORGIEVA           1996    False
Ággelos PAVLAKÁKIS         2000    False
Ángel David RODRÍGUEZ      2008    False
                           2008    False
                           2012    False
Ángela TENORIO             2016    False
                           2016    False
Éder Antonio SOUZA         2016    False
                           2016    False
Édson RIBEIRO              1996    False
Name: Round, Length: 2457, dtype: bool

16) The expression above can be used as a "selector", to select data from the dataframe which matches the desired condition (i.e. only 200 m races).  Place it inside brackets (i.e. inside `df[]`) to access only the 200 m races from the original data.

In [55]:
# Fill in your answer to 16 here
df[df['Round']=='Final']

                              index  Unnamed: 0  POS     BIB COUNTRY   MARK  \
ATHLETE                 Year
Akani SIMBINE           2016   1182        1182  5.0  2909.0  RSARSA   9.94
Aleen BAILEY            2004   1374        1374  5.0     NaN  JAMJAM  11.05
Aliuska LÓPEZ           2000   2181        2181  5.0     NaN  CUBCUB  12.83
Allen JOHNSON           2000   2094        2094  4.0     NaN  USAUSA  13.23
Allyson FELIX           2012    573         573  5.0  3287.0  USAUSA  10.89
Andre DE GRASSE         2016   1180        1180  3.0  2196.0  CANCAN   9.91
Angela WHYTE            2004   1585        1585  6.0     NaN  CANCAN  12.81
Anier GARCÍA            2000   2091        2091  1.0     NaN  CUBCUB     13
                        2004   1686        1686  3.0     NaN  CUBCUB   13.2
Aries MERRITT           2012    854         854  1.0  3236.0  USAUSA  12.92
Artur NOGA              2008    452         452  5.0     NaN  POLPOL  13.36
Asafa POWELL            2004   1522        1522  5.0     NaN  JAMJAM   9.94
                        2008    140         140  5.0     NaN  JAMJAM   9.95
                        2012    692         692  7.0  2184.0  JAMJAM  11.99
Ato BOLDON              2000   1850        1850  2.0     NaN  TTOTTO   9.99
Aziz ZAKARI             2000   1856        1856  NaN     NaN  GHAGHA    DNF
                        2004   1525        1525  NaN     NaN  GHAGHA    DNF
Beate SCHROTT           2012    774         774  7.0  1093.0  AUTAUT  13.07
Ben Youssef MEITÉ       2016   1183        1183  6.0  2245.0  CIVCIV   9.96
Blessing OKAGBARE       2012    576         576  8.0  2584.0  NGRNGR  11.01
Brianna ROLLINS         2016    862         862  1.0  1369.0     USA  12.48
Brigitte FOSTER-HYLTON  2000   2184        2184  8.0     NaN  JAMJAM  13.49
                        2008    354         354  6.0     NaN  JAMJAM  12.66
Carmelita JETER         2012    570         570  2.0  3299.0  USAUSA  10.78
Chandra STURRUP         2000   1992        1992  5.0     NaN  BAHBAH  11.21
Charles ALLEN           2004   1689        1689  6.0     NaN  CANCAN  13.48
Christania WILLIAMS     2016   1061        1061  8.0   905.0  JAMJAM   11.8
Churandy MARTINA        2008    139         139  4.0     NaN  AHOAHO   9.93
                        2012    690         690  5.0  2547.0  NEDNED   9.94
Cindy OFILI             2016    865         865  4.0   713.0     GBR  12.63
...                             ...         ...  ...     ...     ...    ...
Sally PEARSON           2012    768         768  1.0  1079.0  AUSAUS  12.35
Sarah CLAXTON           2008    356         356  8.0     NaN  GBRGBR  12.94
Savatheda FYNES         2000   1993        1993  6.0     NaN  BAHBAH  11.22
Shawn CRAWFORD          2004   1521        1521  4.0     NaN  USAUSA   9.89
Shelly-Ann FRASER-PRYCE 2008    285         285  1.0     NaN  JAMJAM  10.78
                        2012    569         569  1.0  2197.0  JAMJAM  10.75
                        2016   1056        1056  3.0   887.0  JAMJAM  10.86
Sherone SIMPSON         2004   1375        1375  6.0     NaN  JAMJAM  11.07
                        2008    286         286  2.0     NaN  JAMJAM  10.98
Stanislavs OLIJARS      2004   1688        1688  5.0     NaN  LATLAT  13.21
Tayna LAWRENCE          2000   1989        1989  2.0     NaN  JAMJAM  11.18
Terrence TRAMMELL       2000   2092        2092  2.0     NaN  USAUSA  13.16
                        2004   1685        1685  2.0     NaN  USAUSA  13.18
Tianna BARTOLETTA       2012    572         572  4.0  3306.0  USAUSA  10.85
Tiffany PORTER          2016    868         868  7.0   719.0     GBR  12.76
Tori BOWIE              2016   1055        1055  2.0  1326.0  USAUSA  10.83
Torri EDWARDS           2008    292         292  8.0     NaN  USAUSA   11.2
Trayvon BROMELL         2016   1185        1185  8.0  3054.0  USAUSA  10.06
Tyson GAY               2012    693         693  NaN  3217.0  USAUSA     DQ
Usain BOLT              2008    136         136  1.0     NaN  JAMJAM   9.69
                        2012    686         686  1.0  2170.0  JAMJAM   9.63
                        2016   1178        1178  1.0  2612.0  JAMJAM   9.81
Veronica CAMPBELL-BROWN 2004   1372        1372  3.0     NaN  JAMJAM  10.97
                        2012    571         571  3.0  2194.0  JAMJAM  10.81
Walter DIX              2008    138         138  3.0     NaN  USAUSA   9.91
Xiang LIU               2004   1684        1684  1.0     NaN  CHNCHN  12.91
Yohan BLAKE             2012    687         687  2.0  2169.0  JAMJAM   9.75
                        2016   1181        1181  4.0  2611.0  JAMJAM   9.93
Yuliya NESTSIARENKA     2004   1370        1370  1.0     NaN  BLRBLR  10.93
Zhanna BLOCK            2000   1991        1991  4.0     NaN  UKRUKR   11.2

                              RxnTime     Race  Round Gender  selector
ATHLETE                 Year
Akani SIMBINE           2016    0.128    100 m  Final      M       200
Aleen BAILEY            2004    0.208    100 m  Final      F       200
Aliuska LÓPEZ           2000    0.179  100 m H  Final      F       200
Allen JOHNSON           2000    0.182  110 m H  Final      M       200
Allyson FELIX           2012    0.176    100 m  Final      F       200
Andre DE GRASSE         2016    0.141    100 m  Final      M       200
Angela WHYTE            2004    0.155  100 m H  Final      F       200
Anier GARCÍA            2000    0.172  110 m H  Final      M       200
                        2004    0.169  110 m H  Final      M       200
Aries MERRITT           2012    0.143  110 m H  Final      M       200
Artur NOGA              2008    0.169  110 m H  Final      M       200
Asafa POWELL            2004    0.166    100 m  Final      M       200
                        2008    0.134    100 m  Final      M       200
                        2012    0.155    100 m  Final      M       200
Ato BOLDON              2000    0.136    100 m  Final      M       200
Aziz ZAKARI             2000    0.180    100 m  Final      M       200
                        2004    0.178    100 m  Final      M       200
Beate SCHROTT           2012    0.156  100 m H  Final      F       200
Ben Youssef MEITÉ       2016    0.156    100 m  Final      M       200
Blessing OKAGBARE       2012    0.165    100 m  Final      F       200
Brianna ROLLINS         2016    0.158  100 m H  Final      F       200
Brigitte FOSTER-HYLTON  2000    0.217  100 m H  Final      F       200
                        2008    0.167  100 m H  Final      F       200
Carmelita JETER         2012    0.153    100 m  Final      F       200
Chandra STURRUP         2000    0.193    100 m  Final      F       200
Charles ALLEN           2004    0.139  110 m H  Final      M       200
Christania WILLIAMS     2016    0.163    100 m  Final      F       200
Churandy MARTINA        2008    0.169    100 m  Final      M       200
                        2012    0.139    100 m  Final      M       200
Cindy OFILI             2016    0.161  100 m H  Final      F       200
...                               ...      ...    ...    ...       ...
Sally PEARSON           2012    0.137  100 m H  Final      F       200
Sarah CLAXTON           2008    0.163  100 m H  Final      F       200
Savatheda FYNES         2000    0.253    100 m  Final      F       200
Shawn CRAWFORD          2004    0.161    100 m  Final      M       200
Shelly-Ann FRASER-PRYCE 2008    0.190    100 m  Final      F       200
                        2012    0.153    100 m  Final      F       200
                        2016    0.138    100 m  Final      F       200
Sherone SIMPSON         2004    0.164    100 m  Final      F       200
                        2008    0.155    100 m  Final      F       200
Stanislavs OLIJARS      2004    0.174  110 m H  Final      M       200
Tayna LAWRENCE          2000    0.163    100 m  Final      F       200
Terrence TRAMMELL       2000    0.221  110 m H  Final      M       200
                        2004    0.154  110 m H  Final      M       200
Tianna BARTOLETTA       2012    0.171    100 m  Final      F       200
Tiffany PORTER          2016    0.142  100 m H  Final      F       200
Tori BOWIE              2016    0.112    100 m  Final      F       200
Torri EDWARDS           2008    0.179    100 m  Final      F       200
Trayvon BROMELL         2016    0.135    100 m  Final      M       200
Tyson GAY               2012    0.145    100 m  Final      M       200
Usain BOLT              2008    0.165    100 m  Final      M       200
                        2012    0.165    100 m  Final      M       200
                        2016    0.155    100 m  Final      M       200
Veronica CAMPBELL-BROWN 2004    0.199    100 m  Final      F       200
                        2012    0.143    100 m  Final      F       200
Walter DIX              2008    0.133    100 m  Final      M       200
Xiang LIU               2004    0.139  110 m H  Final      M       200
Yohan BLAKE             2012    0.179    100 m  Final      M       200
                        2016    0.145    100 m  Final      M       200
Yuliya NESTSIARENKA     2004    0.186    100 m  Final      F       200
Zhanna BLOCK            2000    0.223    100 m  Final      F       200

[160 rows x 11 columns]

17) Now use the above, plus chaining with `.loc[]` and `max()` to find Usain Bolt's *worst* reaction time in an Olympics final.

In [56]:
# Fill in your answer to 17 here
df['selector'].loc['Usain BOLT'].max()

200

18) Let's clean up this data a little bit more.  See all the `NaN` values above?  Those correspond to missing data (NaN stands for "Not a Number").  We can get rid of rows that have missing data with the `.dropna()` method.  But some missing data is irrelevant to our analysis.  Who cares if the bib number is missing?  Select only those columns we care about (let's say reaction time, round, and gender) using the approach from question 6, and then use `dropna()` on that subset of the columns.  Chain that with `.shape` to see how many rows the remaining data has.  It should be less than the number of rows we started with (because we removed some rows), but still well more than 0!

In [57]:
# Fill in your answer to 18 here
df[['RxnTime','Round','Gender']]
df.dropna()

                                index  Unnamed: 0  POS     BIB COUNTRY  \
ATHLETE                   Year
Aaron BROWN               2016   1147        1147  3.0  2192.0  CANCAN
Abdul Wahab ZAHIRI        2016   1068        1068  7.0  2000.0  AFGAFG
Abdullah Abkar MOHAMMED   2016   1106        1106  5.0  2717.0  KSAKSA
Abiodun OYEPITAN          2012    509         509  5.0  1869.0  GBRGBR
                          2012    551         551  7.0  1869.0  GBRGBR
Adam GEMILI               2012    639         639  2.0  1809.0  GBRGBR
                          2012    679         679  2.0  1809.0  GBRGBR
Adrian GRIFFITH           2016   1091        1091  8.0  2067.0  BAHBAH
Adrien DEGHELT            2012    778         778  3.0  1136.0  BELBEL
                          2012    832         832  4.0  1136.0  BELBEL
Afa ISMAIL                2012    460         460  5.0  2494.0  MDVMDV
Ahmad HAZER               2012    810         810  9.0  2421.0  LBNLBN
                          2016   1208        1208  7.0  2731.0  LIBLIB
Aissata TOURÉ             2012    462         462  7.0  2021.0  GUIGUI
Akani SIMBINE             2016   1145        1145  1.0  2909.0  RSARSA
                          2016   1156        1156  3.0  2909.0  RSARSA
                          2016   1182        1182  5.0  2909.0  RSARSA
Akeem HAYNES              2016   1124        1124  6.0  2199.0  CANCAN
Aleksey DREMIN            2012    817         817  7.0  2805.0  RUSRUS
Alexander JOHN            2012    807         807  6.0  1906.0  GERGER
                          2016   1222        1222  5.0  2504.0  GERGER
Alina TALAY               2012    694         694  1.0  1202.0  BLRBLR
                          2012    747         747  4.0  1202.0  BLRBLR
                          2016    877         877  8.0   402.0  BLRBLR
                          2016    927         927  2.0   402.0  BLRBLR
Allison PETER             2012    527         527  7.0  2126.0  ISVISV
Allyson FELIX             2012    521         521  1.0  3287.0  USAUSA
                          2012    554         554  2.0  3287.0  USAUSA
                          2012    573         573  5.0  3287.0  USAUSA
Alyssa CONLEY             2016   1019        1019  6.0  1162.0  RSARSA
...                               ...         ...  ...     ...     ...
Yawei SUN                 2012    739         739  5.0  1388.0  CHNCHN
Yee Pui FONG              2012    473         473  2.0  2036.0  HKGHKG
                          2012    496         496  8.0  2036.0  HKGHKG
Yeison RIVAS              2016   1219        1219  2.0  2256.0  COLCOL
Yidiel CONTRERAS          2016   1206        1206  5.0  2354.0  ESPESP
                          2016   1248        1248  6.0  2354.0  ESPESP
Yohan BLAKE               2012    646         646  1.0  2169.0  JAMJAM
                          2012    678         678  1.0  2169.0  JAMJAM
                          2012    687         687  2.0  2169.0  JAMJAM
                          2016   1128        1128  1.0  2611.0  JAMJAM
                          2016   1171        1171  2.0  2611.0  JAMJAM
                          2016   1181        1181  4.0  2611.0  JAMJAM
Yomara HINESTROZA         2012    511         511  7.0  1431.0  COLCOL
Yongli WEI                2012    534         534  6.0  1392.0  CHNCHN
                          2016    970         970  5.0   531.0  CHNCHN
Yordan L. O'FARRILL       2016   1205        1205  4.0  2279.0  CUBCUB
                          2016   1232        1232  7.0  2279.0  CUBCUB
Yoshihide KIRYU           2016   1139        1139  4.0  2645.0  JPNJPN
Yuliya BALYKINA           2012    503         503  7.0  1175.0  BLRBLR
Yuliya KONDAKOVA          2012    738         738  4.0  2871.0  RUSRUS
                          2012    757         757  6.0  2871.0  RUSRUS
Yvette LEWIS              2016    933         933  8.0  1081.0  PANPAN
Zaidatul Husniah ZULKIFLI 2016    960         960  3.0   999.0  MASMAS
                          2016   1029        1029  8.0   999.0  MASMAS
Zhenye XIE                2016   1102        1102  1.0  2234.0  CHNCHN
                          2016   1160        1160  7.0  2234.0  CHNCHN
Ángel David RODRÍGUEZ     2012    609         609  4.0  1636.0  ESPESP
Ángela TENORIO            2016    984         984  3.0   613.0  ECUECU
                          2016   1034        1034  5.0   613.0  ECUECU
Éder Antonio SOUZA        2016   1213        1213  4.0  2154.0  BRABRA

                                   MARK  RxnTime     Race        Round Gender  \
ATHLETE                   Year
Aaron BROWN               2016    10.24    0.135    100 m        Heats      M
Abdul Wahab ZAHIRI        2016    11.56    0.170    100 m  Preliminary      M
Abdullah Abkar MOHAMMED   2016    10.26    0.154    100 m        Heats      M
Abiodun OYEPITAN          2012  11.22 q    0.153    100 m        Heats      F
                          2012    11.36    0.151    100 m         Semi      F
Adam GEMILI               2012  10.11 Q    0.156    100 m        Heats      M
                          2012    10.06    0.158    100 m         Semi      M
Adrian GRIFFITH           2016    10.53    0.143    100 m        Heats      M
Adrien DEGHELT            2012  13.52 Q    0.158  110 m H        Heats      M
                          2012    13.42    0.142  110 m H         Semi      M
Afa ISMAIL                2012    12.52    0.223    100 m  Preliminary      F
Ahmad HAZER               2012    14.82    0.195  110 m H        Heats      M
                          2016     15.5    0.144  110 m H        Heats      M
Aissata TOURÉ             2012    13.25    0.198    100 m  Preliminary      F
Akani SIMBINE             2016  10.14 Q    0.124    100 m        Heats      M
                          2016   9.98 q    0.144    100 m         Semi      M
                          2016     9.94    0.128    100 m        Final      M
Akeem HAYNES              2016    10.22    0.123    100 m        Heats      M
Aleksey DREMIN            2012    13.75    0.151  110 m H        Heats      M
Alexander JOHN            2012    13.67    0.195  110 m H        Heats      M
                          2016    14.13    0.165  110 m H        Heats      M
Alina TALAY               2012  12.71 Q    0.229  100 m H        Heats      F
                          2012    12.84    0.169  100 m H         Semi      F
                          2016    13.66    0.143  100 m H         Semi      F
                          2016  12.74 Q    0.157  100 m H        Heats      F
Allison PETER             2012    11.41    0.213    100 m        Heats      F
Allyson FELIX             2012  11.01 Q    0.183    100 m        Heats      F
                          2012  10.94 Q    0.161    100 m         Semi      F
                          2012    10.89    0.176    100 m        Final      F
Alyssa CONLEY             2016    11.57    0.143    100 m        Heats      F
...                                 ...      ...      ...          ...    ...
Yawei SUN                 2012    13.26    0.155  100 m H        Heats      F
Yee Pui FONG              2012  12.02 Q    0.156    100 m  Preliminary      F
                          2012    11.98    0.157    100 m        Heats      F
Yeison RIVAS              2016    13.87    0.165  110 m H        Heats      M
Yidiel CONTRERAS          2016  13.62 q    0.137  110 m H        Heats      M
                          2016    13.54    0.142  110 m H         Semi      M
Yohan BLAKE               2012  10.00 Q    0.175    100 m        Heats      M
                          2012   9.85 Q    0.176    100 m         Semi      M
                          2012     9.75    0.179    100 m        Final      M
                          2016  10.11 Q    0.154    100 m        Heats      M
                          2016  10.01 Q    0.147    100 m         Semi      M
                          2016     9.93    0.145    100 m        Final      M
Yomara HINESTROZA         2012    11.56    0.164    100 m        Heats      F
Yongli WEI                2012    11.48    0.170    100 m        Heats      F
                          2016    11.48    0.154    100 m        Heats      F
Yordan L. O'FARRILL       2016  13.56 Q    0.130  110 m H        Heats      M
                          2016     13.7    0.153  110 m H         Semi      M
Yoshihide KIRYU           2016    10.23    0.150    100 m        Heats      M
Yuliya BALYKINA           2012     11.7    0.154    100 m        Heats      F
Yuliya KONDAKOVA          2012  13.10 q    0.175  100 m H        Heats      F
                          2012    13.13    0.161  100 m H         Semi      F
Yvette LEWIS              2016    13.35    0.150  100 m H        Heats      F
Zaidatul Husniah ZULKIFLI 2016  12.12 q    0.151    100 m  Preliminary      F
                          2016    12.62    0.149    100 m        Heats      F
Zhenye XIE                2016  10.08 Q    0.143    100 m        Heats      M
                          2016    10.11    0.134    100 m         Semi      M
Ángel David RODRÍGUEZ     2012    10.34    0.168    100 m        Heats      M
Ángela TENORIO            2016  11.35 q    0.150    100 m        Heats      F
                          2016    11.14    0.145    100 m         Semi      F
Éder Antonio SOUZA        2016  13.61 Q    0.134  110 m H        Heats      M

                                selector
ATHLETE                   Year
Aaron BROWN               2016       200
Abdul Wahab ZAHIRI        2016       200
Abdullah Abkar MOHAMMED   2016       200
Abiodun OYEPITAN          2012       200
                          2012       200
Adam GEMILI               2012       200
                          2012       200
Adrian GRIFFITH           2016       200
Adrien DEGHELT            2012       200
                          2012       200
Afa ISMAIL                2012       200
Ahmad HAZER               2012       200
                          2016       200
Aissata TOURÉ             2012       200
Akani SIMBINE             2016       200
                          2016       200
                          2016       200
Akeem HAYNES              2016       200
Aleksey DREMIN            2012       200
Alexander JOHN            2012       200
                          2016       200
Alina TALAY               2012       200
                          2012       200
                          2016       200
                          2016       200
Allison PETER             2012       200
Allyson FELIX             2012       200
                          2012       200
                          2012       200
Alyssa CONLEY             2016       200
...                                  ...
Yawei SUN                 2012       200
Yee Pui FONG              2012       200
                          2012       200
Yeison RIVAS              2016       200
Yidiel CONTRERAS          2016       200
                          2016       200
Yohan BLAKE               2012       200
                          2012       200
                          2012       200
                          2016       200
                          2016       200
                          2016       200
Yomara HINESTROZA         2012       200
Yongli WEI                2012       200
                          2016       200
Yordan L. O'FARRILL       2016       200
                          2016       200
Yoshihide KIRYU           2016       200
Yuliya BALYKINA           2012       200
Yuliya KONDAKOVA          2012       200
                          2012       200
Yvette LEWIS              2016       200
Zaidatul Husniah ZULKIFLI 2016       200
                          2016       200
Zhenye XIE                2016       200
                          2016       200
Ángel David RODRÍGUEZ     2012       200
Ángela TENORIO            2016       200
                          2016       200
Éder Antonio SOUZA        2016       200

[758 rows x 11 columns]

19) Do Americans sprinters react faster than Canadian sprinters?  No one would ever fund such a study, but you can answer that question right here for free!  Use the `.groupby()` method to aggregate sprinters by country `.groupby('COUNTRY')`, select the reaction time column, and chain it with `.mean()` to compare mean reaction time across countries.  You can further optionally append `[['USAUSA','CANCAN']]` to focus on only those two countries.  Why are all the country names doubled?  I think it is because the person who compiled this dataset likes to say, "U-S-A!  U-S-A!" and just repeated that for every country.

In [59]:
# Fill in your answer to 19 here
df.groupby('COUNTRY')['RxnTime'].mean()[['USAUSA','CANCAN']]

COUNTRY
USAUSA    0.170185
CANCAN    0.159889
Name: RxnTime, dtype: float64

In [0]:
# Be sure to run this code cell!
from scipy.stats import ttest_ind

20) So *do* Americans react faster (or slower) than Canadians? In the previous question we only computed the means.  What about the variability?  Let's assume for the moment that a t-test is a good way to compare the two groups.  Extract the two groups using the data using the selector approach from question 16, extract the reaction time from each, drop the missing values, and assigning one to the variable `usa` and the other to the variable `can`.  Don't use `groupby()` here.  Having loaded a t-test function (`ttest_ind` in the cell above), call that function using your selected groups (`ttest_ind(usa,can)`).  Note that you can have multiple command in a code cell, as long each one is on its own line.

In [62]:
# Fill in your answer to 20 here
usa = 'USAUSA'
df[df['COUNTRY']=='USAUSA']

                        index  Unnamed: 0  POS     BIB COUNTRY     MARK  \
ATHLETE           Year
Allen JOHNSON     1996   2381        2381  1.0     NaN  USAUSA    13.66
                  2000   2027        2027  1.0     NaN  USAUSA  13.50 Q
                  2000   2060        2060  2.0     NaN  USAUSA  13.55 Q
                  2000   2084        2084  2.0     NaN  USAUSA  13.33 Q
                  2000   2094        2094  4.0     NaN  USAUSA    13.23
                  2004   1614        1614  3.0     NaN  USAUSA  13.45 Q
                  2004   1650        1650  NaN     NaN  USAUSA      DNF
Allyson FELIX     2012    521         521  1.0  3287.0  USAUSA  11.01 Q
                  2012    554         554  2.0  3287.0  USAUSA  10.94 Q
                  2012    573         573  5.0  3287.0  USAUSA    10.89
Aries MERRITT     2012    811         811  1.0  3236.0  USAUSA  13.07 Q
                  2012    837         837  1.0  3236.0  USAUSA  12.94 Q
                  2012    854         854  1.0  3236.0  USAUSA    12.92
Brianna ROLLINS   2016    870         870  1.0  1369.0  USAUSA  12.47 Q
                  2016    934         934  1.0  1369.0  USAUSA  12.54 Q
Carmelita JETER   2012    497         497  1.0  3299.0  USAUSA  10.83 Q
                  2012    545         545  1.0  3299.0  USAUSA  10.83 Q
                  2012    570         570  2.0  3299.0  USAUSA    10.78
Cheryl DICKEY     1996   2414        2414  2.0     NaN  USAUSA    12.92
Chryste GAINES    2000   1932        1932  1.0     NaN  USAUSA  11.06 Q
                  2000   1957        1957  2.0     NaN  USAUSA  11.21 Q
                  2000   1983        1983  4.0     NaN  USAUSA    11.23
Curtis JOHNSON    2000   1710        1710  1.0     NaN  USAUSA  10.30 Q
                  2000   1826        1826  2.0     NaN  USAUSA  10.24 Q
                  2000   1838        1838  6.0     NaN  USAUSA    10.27
D'Andre HILL      1996   2209        2209  2.0     NaN  USAUSA    11.11
Damu CHERRY       2008    303         303  3.0     NaN  USAUSA  12.92 q
                  2008    341         341  1.0     NaN  USAUSA  12.62 Q
                  2008    352         352  4.0     NaN  USAUSA    12.65
Darvis PATTON     2008     41          41  2.0     NaN  USAUSA  10.25 Q
...                       ...         ...  ...     ...     ...      ...
Terrence TRAMMELL 2004   1677        1677  2.0     NaN  USAUSA  13.17 Q
                  2004   1685        1685  2.0     NaN  USAUSA    13.18
                  2008    391         391  NaN     NaN  USAUSA      DNF
Tianna BARTOLETTA 2012    514         514  2.0  3306.0  USAUSA  10.97 Q
                  2012    562         562  2.0  3306.0  USAUSA  10.92 Q
                  2012    572         572  4.0  3306.0  USAUSA    10.85
                  2016    998         998  1.0  1323.0  USAUSA  11.23 Q
                  2016   1041        1041  4.0  1323.0  USAUSA       11
Tori BOWIE        2016    982         982  1.0  1326.0  USAUSA  11.13 Q
                  2016   1030        1030  1.0  1326.0  USAUSA  10.90 Q
                  2016   1055        1055  2.0  1326.0  USAUSA    10.83
Torri EDWARDS     2000   1917        1917  3.0     NaN  USAUSA  11.34 Q
                  2000   1944        1944  5.0     NaN  USAUSA    11.32
                  2008    144         144  1.0     NaN  USAUSA  11.26 Q
                  2008    261         261  1.0     NaN  USAUSA  11.31 Q
                  2008    278         278  2.0     NaN  USAUSA  11.18 Q
                  2008    292         292  8.0     NaN  USAUSA     11.2
Trayvon BROMELL   2016   1120        1120  2.0  3054.0  USAUSA  10.13 Q
                  2016   1164        1164  3.0  3054.0  USAUSA  10.01 q
                  2016   1185        1185  8.0  3054.0  USAUSA    10.06
Tyson GAY         2008     32          32  1.0     NaN  USAUSA  10.22 Q
                  2008     89          89  2.0     NaN  USAUSA  10.09 Q
                  2008    132         132  5.0     NaN  USAUSA    10.05
                  2012    613         613  NaN  3217.0  USAUSA       DQ
                  2012    684         684  NaN  3217.0  USAUSA       DQ
                  2012    693         693  NaN  3217.0  USAUSA       DQ
Walter DIX        2008     50          50  3.0     NaN  USAUSA  10.35 Q
                  2008    113         113  2.0     NaN  USAUSA  10.08 Q
                  2008    121         121  2.0     NaN  USAUSA   9.95 Q
                  2008    138         138  3.0     NaN  USAUSA     9.91

                        RxnTime     Race    Round Gender  selector
ATHLETE           Year
Allen JOHNSON     1996      NaN  110 m H    Heats      M       200
                  2000    0.174  110 m H    Heats      M       200
                  2000    0.154  110 m H  Quarter      M       200
                  2000    0.166  110 m H     Semi      M       200
                  2000    0.182  110 m H    Final      M       200
                  2004    0.176  110 m H    Heats      M       200
                  2004    0.238  110 m H  Quarter      M       200
Allyson FELIX     2012    0.183    100 m    Heats      F       200
                  2012    0.161    100 m     Semi      F       200
                  2012    0.176    100 m    Final      F       200
Aries MERRITT     2012    0.142  110 m H    Heats      M       200
                  2012    0.147  110 m H     Semi      M       200
                  2012    0.143  110 m H    Final      M       200
Brianna ROLLINS   2016    0.197  100 m H     Semi      F       200
                  2016    0.118  100 m H    Heats      F       200
Carmelita JETER   2012    0.176    100 m    Heats      F       200
                  2012    0.161    100 m     Semi      F       200
                  2012    0.153    100 m    Final      F       200
Cheryl DICKEY     1996      NaN  100 m H    Heats      F       200
Chryste GAINES    2000    0.208    100 m    Heats      F       200
                  2000    0.216    100 m  Quarter      F       200
                  2000    0.201    100 m     Semi      F       200
Curtis JOHNSON    2000    0.194    100 m    Heats      M       200
                  2000    0.142    100 m  Quarter      M       200
                  2000    0.146    100 m     Semi      M       200
D'Andre HILL      1996      NaN    100 m    Heats      F       200
Damu CHERRY       2008    0.230  100 m H    Heats      F       200
                  2008    0.189  100 m H     Semi      F       200
                  2008    0.239  100 m H    Final      F       200
Darvis PATTON     2008    0.149    100 m    Heats      M       200
...                         ...      ...      ...    ...       ...
Terrence TRAMMELL 2004    0.165  110 m H     Semi      M       200
                  2004    0.154  110 m H    Final      M       200
                  2008    0.242  110 m H    Heats      M       200
Tianna BARTOLETTA 2012    0.165    100 m    Heats      F       200
                  2012    0.150    100 m     Semi      F       200
                  2012    0.171    100 m    Final      F       200
                  2016    0.148    100 m    Heats      F       200
                  2016    0.141    100 m     Semi      F       200
Tori BOWIE        2016    0.142    100 m    Heats      F       200
                  2016    0.165    100 m     Semi      F       200
                  2016    0.112    100 m    Final      F       200
Torri EDWARDS     2000    0.159    100 m    Heats      F       200
                  2000    0.168    100 m  Quarter      F       200
                  2008    0.169    100 m    Heats      F       200
                  2008    0.160    100 m  Quarter      F       200
                  2008    0.174    100 m     Semi      F       200
                  2008    0.179    100 m    Final      F       200
Trayvon BROMELL   2016    0.165    100 m    Heats      M       200
                  2016    0.128    100 m     Semi      M       200
                  2016    0.135    100 m    Final      M       200
Tyson GAY         2008    0.148    100 m    Heats      M       200
                  2008    0.146    100 m  Quarter      M       200
                  2008    0.145    100 m     Semi      M       200
                  2012    0.147    100 m    Heats      M       200
                  2012    0.151    100 m     Semi      M       200
                  2012    0.145    100 m    Final      M       200
Walter DIX        2008    0.167    100 m    Heats      M       200
                  2008    0.163    100 m  Quarter      M       200
                  2008    0.143    100 m     Semi      M       200
                  2008    0.133    100 m    Final      M       200

[199 rows x 11 columns]

In [63]:
can = "CANCAN"
df[df['COUNTRY']=='CANCAN']

                              index  Unnamed: 0  POS     BIB COUNTRY  \
ATHLETE                 Year
Aaron BROWN             2016   1147        1147  3.0  2192.0  CANCAN
Adrian WOODLEY          2000   2037        2037  4.0     NaN  CANCAN
                        2000   2064        2064  6.0     NaN  CANCAN
Akeem HAYNES            2016   1124        1124  6.0  2199.0  CANCAN
Andre DE GRASSE         2016   1110        1110  1.0  2196.0  CANCAN
                        2016   1163        1163  2.0  2196.0  CANCAN
                        2016   1180        1180  3.0  2196.0  CANCAN
Angela WHYTE            2004   1536        1536  3.0     NaN  CANCAN
                        2004   1575        1575  4.0     NaN  CANCAN
                        2004   1585        1585  6.0     NaN  CANCAN
                        2008    313         313  5.0     NaN  CANCAN
                        2016    915         915  6.0   500.0  CANCAN
Anson HENRY             2008     51          51  4.0     NaN  CANCAN
                        2008    110         110  7.0     NaN  CANCAN
Bruny SURIN             1996   2242        2242  2.0     NaN  CANCAN
                        2000   1713        1713  4.0     NaN  CANCAN
                        2000   1802        1802  3.0     NaN  CANCAN
                        2000   1848        1848  8.0     NaN  CANCAN
Charles ALLEN           2004   1605        1605  2.0     NaN  CANCAN
                        2004   1637        1637  2.0     NaN  CANCAN
                        2004   1671        1671  4.0     NaN  CANCAN
                        2004   1689        1689  6.0     NaN  CANCAN
Crystal EMMANUEL        2016   1009        1009  4.0   474.0  CANCAN
Donovan BAILEY          1996   2331        2331  1.0     NaN  CANCAN
                        2000   1749        1749  3.0     NaN  CANCAN
                        2000   1816        1816  8.0     NaN  CANCAN
Esi BENYARKU            2000   1935        1935  4.0     NaN  CANCAN
Glenroy GILBERT         1996   2341        2341  2.0     NaN  CANCAN
Jessica ZELINKA         2012    695         695  2.0  1324.0  CANCAN
                        2012    753         753  2.0  1324.0  CANCAN
...                             ...         ...  ...     ...     ...
Khamica BINGHAM         2016    976         976  3.0   467.0  CANCAN
Lesley TASHLIN          1996   2427        2427  7.0     NaN  CANCAN
Martha ADUSEI           2000   1862        1862  6.0     NaN  CANCAN
Nicolas MACROZONARIS    2000   1696        1696  5.0     NaN  CANCAN
                        2004   1447        1447  2.0     NaN  CANCAN
                        2004   1475        1475  6.0     NaN  CANCAN
Nikkita HOLDER          2012    721         721  4.0  1311.0  CANCAN
                        2012    749         749  6.0  1311.0  CANCAN
                        2016    892         892  NaN   477.0  CANCAN
                        2016    929         929  4.0   477.0  CANCAN
Perdita FELICIEN        2000   2127        2127  6.0     NaN  CANCAN
                        2004   1543        1543  2.0     NaN  CANCAN
                        2004   1564        1564  1.0     NaN  CANCAN
                        2004   1586        1586  NaN     NaN  CANCAN
Phylicia GEORGE         2012    736         736  2.0  1309.0  CANCAN
                        2012    761         761  2.0  1309.0  CANCAN
                        2012    772         772  5.0  1309.0  CANCAN
                        2016    879         879  2.0   475.0  CANCAN
                        2016    903         903  2.0   475.0  CANCAN
Pierre BROWNE           2004   1432        1432  5.0     NaN  CANCAN
                        2004   1467        1467  6.0     NaN  CANCAN
                        2008     25          25  2.0     NaN  CANCAN
                        2008     85          85  6.0     NaN  CANCAN
Priscilla LOPES-SCHLIEP 2004   1553        1553  5.0     NaN  CANCAN
                        2008    302         302  2.0     NaN  CANCAN
                        2008    335         335  3.0     NaN  CANCAN
                        2008    351         351  3.0     NaN  CANCAN
Sekou KABA              2016   1217        1217  8.0  2201.0  CANCAN
Sonia PAQUETTE          1996   2434        2434  7.0     NaN  CANCAN
Tim KROEKER             1996   2401        2401  5.0     NaN  CANCAN

                                     MARK  RxnTime     Race    Round Gender  \
ATHLETE                 Year
Aaron BROWN             2016        10.24    0.135    100 m    Heats      M
Adrian WOODLEY          2000      13.71 Q    0.175  110 m H    Heats      M
                        2000        14.04    0.178  110 m H  Quarter      M
Akeem HAYNES            2016        10.22    0.123    100 m    Heats      M
Andre DE GRASSE         2016      10.04 Q    0.148    100 m    Heats      M
                        2016       9.92 Q    0.130    100 m     Semi      M
                        2016         9.91    0.141    100 m    Final      M
Angela WHYTE            2004      13.01 q    0.245  100 m H    Heats      F
                        2004      12.69 Q    0.117  100 m H     Semi      F
                        2004        12.81    0.155  100 m H    Final      F
                        2008        13.11    0.153  100 m H    Heats      F
                        2016        13.09    0.154  100 m H    Heats      F
Anson HENRY             2008      10.37 q    0.138    100 m    Heats      M
                        2008        10.33    0.142    100 m  Quarter      M
Bruny SURIN             1996        10.18      NaN    100 m    Heats      M
                        2000      10.41 q    0.198    100 m    Heats      M
                        2000      10.20 Q    0.130    100 m  Quarter      M
                        2000        50.94    0.151    100 m     Semi      M
Charles ALLEN           2004      13.35 Q    0.149  110 m H    Heats      M
                        2004      13.30 Q    0.149  110 m H  Quarter      M
                        2004      13.23 Q    0.150  110 m H     Semi      M
                        2004        13.48    0.139  110 m H    Final      M
Crystal EMMANUEL        2016        11.43    0.162    100 m    Heats      F
Donovan BAILEY          1996        10.24      NaN    100 m    Heats      M
                        2000      10.39 Q    0.235    100 m    Heats      M
                        2000        11.36    0.216    100 m  Quarter      M
Esi BENYARKU            2000        11.55    0.185    100 m    Heats      F
Glenroy GILBERT         1996        10.34      NaN    100 m    Heats      M
Jessica ZELINKA         2012      12.75 Q    0.160  100 m H    Heats      F
                        2012      12.66 Q    0.160  100 m H     Semi      F
...                                   ...      ...      ...      ...    ...
Khamica BINGHAM         2016        11.41    0.137    100 m    Heats      F
Lesley TASHLIN          1996        13.61      NaN  100 m H    Heats      F
Martha ADUSEI           2000        11.82    0.254    100 m    Heats      F
Nicolas MACROZONARIS    2000        10.45    0.189    100 m    Heats      M
                        2004      10.40 Q    0.153    100 m    Heats      M
                        2004        10.28    0.161    100 m  Quarter      M
Nikkita HOLDER          2012      12.93 q    0.169  100 m H    Heats      F
                        2012        12.93    0.162  100 m H     Semi      F
                        2016  DQ R 168.7b    0.146  100 m H     Semi      F
                        2016      12.92 q    0.159  100 m H    Heats      F
Perdita FELICIEN        2000        13.21    0.177  100 m H    Heats      F
                        2004      12.73 Q    0.173  100 m H    Heats      F
                        2004      12.49 Q    0.171  100 m H     Semi      F
                        2004          DNF    0.167  100 m H    Final      F
Phylicia GEORGE         2012      12.83 Q    0.180  100 m H    Heats      F
                        2012      12.65 q    0.153  100 m H     Semi      F
                        2012        12.65    0.152  100 m H    Final      F
                        2016      12.77 Q    0.139  100 m H     Semi      F
                        2016      12.83 Q    0.186  100 m H    Heats      F
Pierre BROWNE           2004      10.32 q    0.169    100 m    Heats      M
                        2004        10.21    0.150    100 m  Quarter      M
                        2008      10.22 Q    0.141    100 m    Heats      M
                        2008        10.36    0.144    100 m  Quarter      M
Priscilla LOPES-SCHLIEP 2004        13.08    0.205  100 m H    Heats      F
                        2008      12.75 Q    0.130  100 m H    Heats      F
                        2008      12.68 Q    0.159  100 m H     Semi      F
                        2008        12.64    0.174  100 m H    Final      F
Sekou KABA              2016         13.7    0.141  110 m H    Heats      M
Sonia PAQUETTE          1996        13.29      NaN  100 m H    Heats      F
Tim KROEKER             1996        13.74      NaN  110 m H    Heats      M

                              selector
ATHLETE                 Year
Aaron BROWN             2016       200
Adrian WOODLEY          2000       200
                        2000       200
Akeem HAYNES            2016       200
Andre DE GRASSE         2016       200
                        2016       200
                        2016       200
Angela WHYTE            2004       200
                        2004       200
                        2004       200
                        2008       200
                        2016       200
Anson HENRY             2008       200
                        2008       200
Bruny SURIN             1996       200
                        2000       200
                        2000       200
                        2000       200
Charles ALLEN           2004       200
                        2004       200
                        2004       200
                        2004       200
Crystal EMMANUEL        2016       200
Donovan BAILEY          1996       200
                        2000       200
                        2000       200
Esi BENYARKU            2000       200
Glenroy GILBERT         1996       200
Jessica ZELINKA         2012       200
                        2012       200
...                                ...
Khamica BINGHAM         2016       200
Lesley TASHLIN          1996       200
Martha ADUSEI           2000       200
Nicolas MACROZONARIS    2000       200
                        2004       200
                        2004       200
Nikkita HOLDER          2012       200
                        2012       200
                        2016       200
                        2016       200
Perdita FELICIEN        2000       200
                        2004       200
                        2004       200
                        2004       200
Phylicia GEORGE         2012       200
                        2012       200
                        2012       200
                        2016       200
                        2016       200
Pierre BROWNE           2004       200
                        2004       200
                        2008       200
                        2008       200
Priscilla LOPES-SCHLIEP 2004       200
                        2008       200
                        2008       200
                        2008       200
Sekou KABA              2016       200
Sonia PAQUETTE          1996       200
Tim KROEKER             1996       200

[70 rows x 11 columns]

21) Oh my, are we going to win a Nobel Prize for this discovery?  Or have we failed to control for something?  Maybe one country has more male vs female athletes, or more sprinters vs hurdlers.  Repeat the above, restricting the data to men (21a), then to women (21b), then to only 100 m sprinters (21c).  You can have multiple `==` expressions in your selector, but you should use parentheses to keep them separated e.g. `(df['COUNTRY']=='USA') && (df['Gender']=='F')`.

In [67]:
# Fill in your answer to 21a here
df[df['COUNTRY']=='USAUSA']
df[df['Gender']=='M']

                              index  Unnamed: 0  POS     BIB COUNTRY  \
ATHLETE                 Year
Aaron BROWN             2016   1147        1147  3.0  2192.0  CANCAN
Abdul GHAFOOR           1996   2257        2257  8.0     NaN  AFGAFG
Abdul RASHID            2008    378         378  8.0     NaN  PAKPAK
Abdul Wahab ZAHIRI      2016   1068        1068  7.0  2000.0  AFGAFG
Abdullah AL-SOOLI       2008     44          44  5.0     NaN  OMAOMA
Abdullah Abkar MOHAMMED 2016   1106        1106  5.0  2717.0  KSAKSA
Abraham KEPSIN          2000   1772        1772  8.0     NaN  VANVAN
Adam GEMILI             2012    639         639  2.0  1809.0  GBRGBR
                        2012    679         679  2.0  1809.0  GBRGBR
Adrian DURANT           2004   1417        1417  6.0     NaN  ISVISV
Adrian GRIFFITH         2016   1091        1091  8.0  2067.0  BAHBAH
Adrian WOODLEY          2000   2037        2037  4.0     NaN  CANCAN
                        2000   2064        2064  6.0     NaN  CANCAN
Adrien DEGHELT          2012    778         778  3.0  1136.0  BELBEL
                        2012    832         832  4.0  1136.0  BELBEL
Ahmad HAZER             2012    810         810  9.0  2421.0  LBNLBN
                        2016   1208        1208  7.0  2731.0  LIBLIB
Ahmed DOUHOU            1996   2317        2317  5.0     NaN  CIVCIV
Aisea TOHI              2008     14          14  7.0     NaN  TGATGA
Akani SIMBINE           2016   1145        1145  1.0  2909.0  RSARSA
                        2016   1156        1156  3.0  2909.0  RSARSA
                        2016   1182        1182  5.0  2909.0  RSARSA
Akeem HAYNES            2016   1124        1124  6.0  2199.0  CANCAN
Alberto MÉNDEZ          1996   2309        2309  6.0     NaN  DOMDOM
Aleksey DREMIN          2012    817         817  7.0  2805.0  RUSRUS
Alexander JOHN          2012    807         807  6.0  1906.0  GERGER
                        2016   1222        1222  5.0  2504.0  GERGER
Alexander KOSENKOW      2004   1440        1440  4.0     NaN  GERGER
                        2004   1491        1491  6.0     NaN  GERGER
Alfayaya EMBALO         1996   2339        2339  NaN     NaN  CPVCPV
...                             ...         ...  ...     ...     ...
Yoel HERNÁNDEZ          2000   2005        2005  2.0     NaN  CUBCUB
                        2000   2070        2070  4.0     NaN  CUBCUB
                        2000   2087        2087  5.0     NaN  CUBCUB
                        2004   1597        1597  2.0     NaN  CUBCUB
                        2004   1653        1653  2.0     NaN  CUBCUB
                        2004   1672        1672  5.0     NaN  CUBCUB
Yohan BLAKE             2012    646         646  1.0  2169.0  JAMJAM
                        2012    678         678  1.0  2169.0  JAMJAM
                        2012    687         687  2.0  2169.0  JAMJAM
                        2016   1128        1128  1.0  2611.0  JAMJAM
                        2016   1171        1171  2.0  2611.0  JAMJAM
                        2016   1181        1181  4.0  2611.0  JAMJAM
Yordan L. O'FARRILL     2016   1205        1205  4.0  2279.0  CUBCUB
                        2016   1232        1232  7.0  2279.0  CUBCUB
Yoshihide KIRYU         2016   1139        1139  4.0  2645.0  JPNJPN
Youssouf SIMPARA        2000   1735        1735  8.0     NaN  MLIMLI
Yuniel HERNÁNDEZ        2004   1631        1631  4.0     NaN  CUBCUB
                        2004   1663        1663  4.0     NaN  CUBCUB
                        2004   1683        1683  NaN     NaN  CUBCUB
Yuriy ARISTOV           1996   2364        2364  8.0     NaN  UZBUZB
Zhenye XIE              2016   1102        1102  1.0  2234.0  CHNCHN
                        2016   1160        1160  7.0  2234.0  CHNCHN
Zhivko VIDENOV          2000   2018        2018  NaN     NaN  BULBUL
Ággelos PAVLAKÁKIS      2000   1745        1745  NaN     NaN  GREGRE
Ángel David RODRÍGUEZ   2008     35          35  4.0     NaN  ESPESP
                        2008    111         111  8.0     NaN  ESPESP
                        2012    609         609  4.0  1636.0  ESPESP
Éder Antonio SOUZA      2016   1213        1213  4.0  2154.0  BRABRA
                        2016   1250        1250  NaN  2154.0  BRABRA
Édson RIBEIRO           1996   2272        2272  5.0     NaN  BRABRA

                                    MARK  RxnTime     Race        Round  \
ATHLETE                 Year
Aaron BROWN             2016       10.24    0.135    100 m        Heats
Abdul GHAFOOR           1996        12.2      NaN    100 m        Heats
Abdul RASHID            2008       14.52    0.172  110 m H        Heats
Abdul Wahab ZAHIRI      2016       11.56    0.170    100 m  Preliminary
Abdullah AL-SOOLI       2008       10.53    0.153    100 m        Heats
Abdullah Abkar MOHAMMED 2016       10.26    0.154    100 m        Heats
Abraham KEPSIN          2000       11.12    0.172    100 m        Heats
Adam GEMILI             2012     10.11 Q    0.156    100 m        Heats
                        2012       10.06    0.158    100 m         Semi
Adrian DURANT           2004       10.52    0.223    100 m        Heats
Adrian GRIFFITH         2016       10.53    0.143    100 m        Heats
Adrian WOODLEY          2000     13.71 Q    0.175  110 m H        Heats
                        2000       14.04    0.178  110 m H      Quarter
Adrien DEGHELT          2012     13.52 Q    0.158  110 m H        Heats
                        2012       13.42    0.142  110 m H         Semi
Ahmad HAZER             2012       14.82    0.195  110 m H        Heats
                        2016        15.5    0.144  110 m H        Heats
Ahmed DOUHOU            1996       10.53      NaN    100 m        Heats
Aisea TOHI              2008       11.17    0.159    100 m        Heats
Akani SIMBINE           2016     10.14 Q    0.124    100 m        Heats
                        2016      9.98 q    0.144    100 m         Semi
                        2016        9.94    0.128    100 m        Final
Akeem HAYNES            2016       10.22    0.123    100 m        Heats
Alberto MÉNDEZ          1996        10.6      NaN    100 m        Heats
Aleksey DREMIN          2012       13.75    0.151  110 m H        Heats
Alexander JOHN          2012       13.67    0.195  110 m H        Heats
                        2016       14.13    0.165  110 m H        Heats
Alexander KOSENKOW      2004     10.28 q    0.135    100 m        Heats
                        2004       10.24    0.113    100 m      Quarter
Alfayaya EMBALO         1996         DNS      NaN    100 m        Heats
...                                  ...      ...      ...          ...
Yoel HERNÁNDEZ          2000     13.53 Q    0.173  110 m H        Heats
                        2000     13.40 Q    0.176  110 m H      Quarter
                        2000       13.41    0.168  110 m H         Semi
                        2004     13.41 Q    0.176  110 m H        Heats
                        2004     13.29 Q    0.200  110 m H      Quarter
                        2004       13.37    0.174  110 m H         Semi
Yohan BLAKE             2012     10.00 Q    0.175    100 m        Heats
                        2012      9.85 Q    0.176    100 m         Semi
                        2012        9.75    0.179    100 m        Final
                        2016     10.11 Q    0.154    100 m        Heats
                        2016     10.01 Q    0.147    100 m         Semi
                        2016        9.93    0.145    100 m        Final
Yordan L. O'FARRILL     2016     13.56 Q    0.130  110 m H        Heats
                        2016        13.7    0.153  110 m H         Semi
Yoshihide KIRYU         2016       10.23    0.150    100 m        Heats
Youssouf SIMPARA        2000       10.82    0.218    100 m        Heats
Yuniel HERNÁNDEZ        2004     13.48 Q    0.151  110 m H        Heats
                        2004     13.46 q    0.137  110 m H      Quarter
                        2004         DNS      NaN  110 m H         Semi
Yuriy ARISTOV           1996       15.04      NaN  110 m H        Heats
Zhenye XIE              2016     10.08 Q    0.143    100 m        Heats
                        2016       10.11    0.134    100 m         Semi
Zhivko VIDENOV          2000         DNF    0.122  110 m H        Heats
Ággelos PAVLAKÁKIS      2000         DNS      NaN    100 m        Heats
Ángel David RODRÍGUEZ   2008     10.34 q    0.145    100 m        Heats
                        2008       10.35    0.154    100 m      Quarter
                        2012       10.34    0.168    100 m        Heats
Éder Antonio SOUZA      2016     13.61 Q    0.134  110 m H        Heats
                        2016  DQ R 168.7    0.137  110 m H         Semi
Édson RIBEIRO           1996       10.39      NaN    100 m        Heats

                             Gender  selector
ATHLETE                 Year
Aaron BROWN             2016      M       200
Abdul GHAFOOR           1996      M       200
Abdul RASHID            2008      M       200
Abdul Wahab ZAHIRI      2016      M       200
Abdullah AL-SOOLI       2008      M       200
Abdullah Abkar MOHAMMED 2016      M       200
Abraham KEPSIN          2000      M       200
Adam GEMILI             2012      M       200
                        2012      M       200
Adrian DURANT           2004      M       200
Adrian GRIFFITH         2016      M       200
Adrian WOODLEY          2000      M       200
                        2000      M       200
Adrien DEGHELT          2012      M       200
                        2012      M       200
Ahmad HAZER             2012      M       200
                        2016      M       200
Ahmed DOUHOU            1996      M       200
Aisea TOHI              2008      M       200
Akani SIMBINE           2016      M       200
                        2016      M       200
                        2016      M       200
Akeem HAYNES            2016      M       200
Alberto MÉNDEZ          1996      M       200
Aleksey DREMIN          2012      M       200
Alexander JOHN          2012      M       200
                        2016      M       200
Alexander KOSENKOW      2004      M       200
                        2004      M       200
Alfayaya EMBALO         1996      M       200
...                             ...       ...
Yoel HERNÁNDEZ          2000      M       200
                        2000      M       200
                        2000      M       200
                        2004      M       200
                        2004      M       200
                        2004      M       200
Yohan BLAKE             2012      M       200
                        2012      M       200
                        2012      M       200
                        2016      M       200
                        2016      M       200
                        2016      M       200
Yordan L. O'FARRILL     2016      M       200
                        2016      M       200
Yoshihide KIRYU         2016      M       200
Youssouf SIMPARA        2000      M       200
Yuniel HERNÁNDEZ        2004      M       200
                        2004      M       200
                        2004      M       200
Yuriy ARISTOV           1996      M       200
Zhenye XIE              2016      M       200
                        2016      M       200
Zhivko VIDENOV          2000      M       200
Ággelos PAVLAKÁKIS      2000      M       200
Ángel David RODRÍGUEZ   2008      M       200
                        2008      M       200
                        2012      M       200
Éder Antonio SOUZA      2016      M       200
                        2016      M       200
Édson RIBEIRO           1996      M       200

[1335 rows x 11 columns]

In [68]:
# Fill in your answer to 21b here
df[df['COUNTRY']=='USAUSA']
df[df['Gender']=='F']

                                index  Unnamed: 0  POS     BIB COUNTRY  \
ATHLETE                   Year
Abiodun OYEPITAN          2004   1316        1316  2.0     NaN  GBRGBR
                          2004   1324        1324  3.0     NaN  GBRGBR
                          2004   1358        1358  5.0     NaN  GBRGBR
                          2012    509         509  5.0  1869.0  GBRGBR
                          2012    551         551  7.0  1869.0  GBRGBR
Afa ISMAIL                2012    460         460  5.0  2494.0  MDVMDV
Affoué Amandine ALLOU     2004   1278        1278  4.0     NaN  CIVCIV
                          2008    174         174  5.0     NaN  CIVCIV
Agné EGGERTH              2000   1894        1894  6.0     NaN  LTULTU
                          2004   1302        1302  4.0     NaN  LTULTU
Aissata TOURÉ             2012    462         462  7.0  2021.0  GUIGUI
Akonga NSIMBO             2000   1912        1912  7.0     NaN  CODCOD
Alaa JASSIM               2004   1314        1314  8.0     NaN  IRQIRQ
Aleen BAILEY              2004   1259        1259  1.0     NaN  JAMJAM
                          2004   1339        1339  2.0     NaN  JAMJAM
                          2004   1364        1364  3.0     NaN  JAMJAM
                          2004   1374        1374  5.0     NaN  JAMJAM
Aleesha BARBER            2008    328         328  4.0     NaN  TTOTTO
Aleksandra ANTONOVA       2008    305         305  5.0     NaN  RUSRUS
Aleksandra VOJNESKA       2004   1296        1296  6.0     NaN  MKDMKD
Alina TALAY               2012    694         694  1.0  1202.0  BLRBLR
                          2012    747         747  4.0  1202.0  BLRBLR
                          2016    877         877  8.0   402.0  BLRBLR
                          2016    927         927  2.0   402.0  BLRBLR
Aliuska LÓPEZ             1996   2415        2415  3.0     NaN  CUBCUB
                          2000   2124        2124  3.0     NaN  CUBCUB
                          2000   2139        2139  3.0     NaN  CUBCUB
                          2000   2172        2172  4.0     NaN  CUBCUB
                          2000   2181        2181  5.0     NaN  CUBCUB
                          2004   1529        1529  4.0     NaN  ESPESP
...                               ...         ...  ...     ...     ...
Yuliya KONDAKOVA          2012    757         757  6.0  2871.0  RUSRUS
Yuliya NESTSIARENKA       2004   1267        1267  1.0     NaN  BLRBLR
                          2004   1346        1346  1.0     NaN  BLRBLR
                          2004   1354        1354  1.0     NaN  BLRBLR
                          2004   1370        1370  1.0     NaN  BLRBLR
                          2008    179         179  2.0     NaN  BLRBLR
                          2008    256         256  4.0     NaN  BLRBLR
                          2008    281         281  5.0     NaN  BLRBLR
Yuliya TABAKOVA           2004   1283        1283  1.0     NaN  RUSRUS
                          2004   1349        1349  4.0     NaN  RUSRUS
                          2004   1361        1361  8.0     NaN  RUSRUS
Yun FENG                  2000   2118        2118  5.0     NaN  CHNCHN
Yvette LEWIS              2016    933         933  8.0  1081.0  PANPAN
Yvonne KANAZAWA           1996   2425        2425  5.0     NaN  JPNJPN
                          2000   2110        2110  5.0     NaN  JPNJPN
                          2000   2150        2150  6.0     NaN  JPNJPN
                          2000   2176        2176  8.0     NaN  JPNJPN
Zaidatul Husniah ZULKIFLI 2016    960         960  3.0   999.0  MASMAS
                          2016   1029        1029  8.0   999.0  MASMAS
Zhanna BLOCK              1996   2192        2192  1.0     NaN  UKRUKR
                          2000   1873        1873  1.0     NaN  UKRUKR
                          2000   1956        1956  1.0     NaN  UKRUKR
                          2000   1974        1974  3.0     NaN  UKRUKR
                          2000   1991        1991  4.0     NaN  UKRUKR
                          2004   1306        1306  NaN     NaN  UKRUKR
                          2004   1337        1337  NaN     NaN  UKRUKR
                          2004   1369        1369  NaN     NaN  UKRUKR
Zlatka GEORGIEVA          1996   2188        2188  4.0     NaN  BULBUL
Ángela TENORIO            2016    984         984  3.0   613.0  ECUECU
                          2016   1034        1034  5.0   613.0  ECUECU

                                   MARK  RxnTime     Race        Round Gender  \
ATHLETE                   Year
Abiodun OYEPITAN          2004  11.23 Q    0.181    100 m        Heats      F
                          2004  11.28 Q    0.198    100 m      Quarter      F
                          2004    11.18    0.140    100 m         Semi      F
                          2012  11.22 q    0.153    100 m        Heats      F
                          2012    11.36    0.151    100 m         Semi      F
Afa ISMAIL                2012    12.52    0.223    100 m  Preliminary      F
Affoué Amandine ALLOU     2004    11.46    0.182    100 m        Heats      F
                          2008    11.75    0.204    100 m        Heats      F
Agné EGGERTH              2000    11.87    0.277    100 m        Heats      F
                          2004    11.44    0.177    100 m        Heats      F
Aissata TOURÉ             2012    13.25    0.198    100 m  Preliminary      F
Akonga NSIMBO             2000    12.51    0.234    100 m        Heats      F
Alaa JASSIM               2004     12.7      NaN    100 m        Heats      F
Aleen BAILEY              2004  11.20 Q    0.232    100 m        Heats      F
                          2004  11.12 Q    0.220    100 m      Quarter      F
                          2004  11.13 Q    0.206    100 m         Semi      F
                          2004    11.05    0.208    100 m        Final      F
Aleesha BARBER            2008    13.01    0.175  100 m H        Heats      F
Aleksandra ANTONOVA       2008    13.18    0.158  100 m H        Heats      F
Aleksandra VOJNESKA       2004    12.15    0.193    100 m        Heats      F
Alina TALAY               2012  12.71 Q    0.229  100 m H        Heats      F
                          2012    12.84    0.169  100 m H         Semi      F
                          2016    13.66    0.143  100 m H         Semi      F
                          2016  12.74 Q    0.157  100 m H        Heats      F
Aliuska LÓPEZ             1996    13.06      NaN  100 m H        Heats      F
                          2000  12.97 Q    0.179  100 m H        Heats      F
                          2000  12.92 Q    0.157  100 m H      Quarter      F
                          2000  12.90 Q      NaN  100 m H         Semi      F
                          2000    12.83    0.179  100 m H        Final      F
                          2004    13.21    0.210  100 m H        Heats      F
...                                 ...      ...      ...          ...    ...
Yuliya KONDAKOVA          2012    13.13    0.161  100 m H         Semi      F
Yuliya NESTSIARENKA       2004  10.94 Q    0.240    100 m        Heats      F
                          2004  10.99 Q    0.206    100 m      Quarter      F
                          2004  10.92 Q    0.167    100 m         Semi      F
                          2004    10.93    0.186    100 m        Final      F
                          2008  11.40 Q    0.175    100 m        Heats      F
                          2008  11.14 q    0.187    100 m      Quarter      F
                          2008    11.26    0.156    100 m         Semi      F
Yuliya TABAKOVA           2004  11.22 Q    0.217    100 m        Heats      F
                          2004  11.25 q    0.204    100 m      Quarter      F
                          2004    11.25    0.179    100 m         Semi      F
Yun FENG                  2000    13.19    0.258  100 m H        Heats      F
Yvette LEWIS              2016    13.35    0.150  100 m H        Heats      F
Yvonne KANAZAWA           1996     13.3      NaN  100 m H        Heats      F
                          2000  13.13 q    0.192  100 m H        Heats      F
                          2000  13.11 q    0.184  100 m H      Quarter      F
                          2000    13.16      NaN  100 m H         Semi      F
Zaidatul Husniah ZULKIFLI 2016  12.12 q    0.151    100 m  Preliminary      F
                          2016    12.62    0.149    100 m        Heats      F
Zhanna BLOCK              1996     11.2      NaN    100 m        Heats      F
                          2000  11.27 Q    0.215    100 m        Heats      F
                          2000  11.08 Q    0.191    100 m      Quarter      F
                          2000  11.32 Q    0.227    100 m         Semi      F
                          2000     11.2    0.223    100 m        Final      F
                          2004       DQ    0.186    100 m        Heats      F
                          2004       DQ    0.203    100 m      Quarter      F
                          2004       DQ    0.158    100 m         Semi      F
Zlatka GEORGIEVA          1996    11.74      NaN    100 m        Heats      F
Ángela TENORIO            2016  11.35 q    0.150    100 m        Heats      F
                          2016    11.14    0.145    100 m         Semi      F

                                selector
ATHLETE                   Year
Abiodun OYEPITAN          2004       200
                          2004       200
                          2004       200
                          2012       200
                          2012       200
Afa ISMAIL                2012       200
Affoué Amandine ALLOU     2004       200
                          2008       200
Agné EGGERTH              2000       200
                          2004       200
Aissata TOURÉ             2012       200
Akonga NSIMBO             2000       200
Alaa JASSIM               2004       200
Aleen BAILEY              2004       200
                          2004       200
                          2004       200
                          2004       200
Aleesha BARBER            2008       200
Aleksandra ANTONOVA       2008       200
Aleksandra VOJNESKA       2004       200
Alina TALAY               2012       200
                          2012       200
                          2016       200
                          2016       200
Aliuska LÓPEZ             1996       200
                          2000       200
                          2000       200
                          2000       200
                          2000       200
                          2004       200
...                                  ...
Yuliya KONDAKOVA          2012       200
Yuliya NESTSIARENKA       2004       200
                          2004       200
                          2004       200
                          2004       200
                          2008       200
                          2008       200
                          2008       200
Yuliya TABAKOVA           2004       200
                          2004       200
                          2004       200
Yun FENG                  2000       200
Yvette LEWIS              2016       200
Yvonne KANAZAWA           1996       200
                          2000       200
                          2000       200
                          2000       200
Zaidatul Husniah ZULKIFLI 2016       200
                          2016       200
Zhanna BLOCK              1996       200
                          2000       200
                          2000       200
                          2000       200
                          2000       200
                          2004       200
                          2004       200
                          2004       200
Zlatka GEORGIEVA          1996       200
Ángela TENORIO            2016       200
                          2016       200

[1122 rows x 11 columns]

In [73]:
# Fill in your answer to 21c here
df[df['COUNTRY']=='USAUSA']
df[df['Race']=='100 m']

                                index  Unnamed: 0  POS     BIB COUNTRY  \
ATHLETE                   Year
Aaron BROWN               2016   1147        1147  3.0  2192.0  CANCAN
Abdul GHAFOOR             1996   2257        2257  8.0     NaN  AFGAFG
Abdul Wahab ZAHIRI        2016   1068        1068  7.0  2000.0  AFGAFG
Abdullah AL-SOOLI         2008     44          44  5.0     NaN  OMAOMA
Abdullah Abkar MOHAMMED   2016   1106        1106  5.0  2717.0  KSAKSA
Abiodun OYEPITAN          2004   1316        1316  2.0     NaN  GBRGBR
                          2004   1324        1324  3.0     NaN  GBRGBR
                          2004   1358        1358  5.0     NaN  GBRGBR
                          2012    509         509  5.0  1869.0  GBRGBR
                          2012    551         551  7.0  1869.0  GBRGBR
Abraham KEPSIN            2000   1772        1772  8.0     NaN  VANVAN
Adam GEMILI               2012    639         639  2.0  1809.0  GBRGBR
                          2012    679         679  2.0  1809.0  GBRGBR
Adrian DURANT             2004   1417        1417  6.0     NaN  ISVISV
Adrian GRIFFITH           2016   1091        1091  8.0  2067.0  BAHBAH
Afa ISMAIL                2012    460         460  5.0  2494.0  MDVMDV
Affoué Amandine ALLOU     2004   1278        1278  4.0     NaN  CIVCIV
                          2008    174         174  5.0     NaN  CIVCIV
Agné EGGERTH              2000   1894        1894  6.0     NaN  LTULTU
                          2004   1302        1302  4.0     NaN  LTULTU
Ahmed DOUHOU              1996   2317        2317  5.0     NaN  CIVCIV
Aisea TOHI                2008     14          14  7.0     NaN  TGATGA
Aissata TOURÉ             2012    462         462  7.0  2021.0  GUIGUI
Akani SIMBINE             2016   1145        1145  1.0  2909.0  RSARSA
                          2016   1156        1156  3.0  2909.0  RSARSA
                          2016   1182        1182  5.0  2909.0  RSARSA
Akeem HAYNES              2016   1124        1124  6.0  2199.0  CANCAN
Akonga NSIMBO             2000   1912        1912  7.0     NaN  CODCOD
Alaa JASSIM               2004   1314        1314  8.0     NaN  IRQIRQ
Alberto MÉNDEZ            1996   2309        2309  6.0     NaN  DOMDOM
...                               ...         ...  ...     ...     ...
Yuliya NESTSIARENKA       2004   1267        1267  1.0     NaN  BLRBLR
                          2004   1346        1346  1.0     NaN  BLRBLR
                          2004   1354        1354  1.0     NaN  BLRBLR
                          2004   1370        1370  1.0     NaN  BLRBLR
                          2008    179         179  2.0     NaN  BLRBLR
                          2008    256         256  4.0     NaN  BLRBLR
                          2008    281         281  5.0     NaN  BLRBLR
Yuliya TABAKOVA           2004   1283        1283  1.0     NaN  RUSRUS
                          2004   1349        1349  4.0     NaN  RUSRUS
                          2004   1361        1361  8.0     NaN  RUSRUS
Zaidatul Husniah ZULKIFLI 2016    960         960  3.0   999.0  MASMAS
                          2016   1029        1029  8.0   999.0  MASMAS
Zhanna BLOCK              1996   2192        2192  1.0     NaN  UKRUKR
                          2000   1873        1873  1.0     NaN  UKRUKR
                          2000   1956        1956  1.0     NaN  UKRUKR
                          2000   1974        1974  3.0     NaN  UKRUKR
                          2000   1991        1991  4.0     NaN  UKRUKR
                          2004   1306        1306  NaN     NaN  UKRUKR
                          2004   1337        1337  NaN     NaN  UKRUKR
                          2004   1369        1369  NaN     NaN  UKRUKR
Zhenye XIE                2016   1102        1102  1.0  2234.0  CHNCHN
                          2016   1160        1160  7.0  2234.0  CHNCHN
Zlatka GEORGIEVA          1996   2188        2188  4.0     NaN  BULBUL
Ággelos PAVLAKÁKIS        2000   1745        1745  NaN     NaN  GREGRE
Ángel David RODRÍGUEZ     2008     35          35  4.0     NaN  ESPESP
                          2008    111         111  8.0     NaN  ESPESP
                          2012    609         609  4.0  1636.0  ESPESP
Ángela TENORIO            2016    984         984  3.0   613.0  ECUECU
                          2016   1034        1034  5.0   613.0  ECUECU
Édson RIBEIRO             1996   2272        2272  5.0     NaN  BRABRA

                                   MARK  RxnTime   Race        Round Gender  \
ATHLETE                   Year
Aaron BROWN               2016    10.24    0.135  100 m        Heats      M
Abdul GHAFOOR             1996     12.2      NaN  100 m        Heats      M
Abdul Wahab ZAHIRI        2016    11.56    0.170  100 m  Preliminary      M
Abdullah AL-SOOLI         2008    10.53    0.153  100 m        Heats      M
Abdullah Abkar MOHAMMED   2016    10.26    0.154  100 m        Heats      M
Abiodun OYEPITAN          2004  11.23 Q    0.181  100 m        Heats      F
                          2004  11.28 Q    0.198  100 m      Quarter      F
                          2004    11.18    0.140  100 m         Semi      F
                          2012  11.22 q    0.153  100 m        Heats      F
                          2012    11.36    0.151  100 m         Semi      F
Abraham KEPSIN            2000    11.12    0.172  100 m        Heats      M
Adam GEMILI               2012  10.11 Q    0.156  100 m        Heats      M
                          2012    10.06    0.158  100 m         Semi      M
Adrian DURANT             2004    10.52    0.223  100 m        Heats      M
Adrian GRIFFITH           2016    10.53    0.143  100 m        Heats      M
Afa ISMAIL                2012    12.52    0.223  100 m  Preliminary      F
Affoué Amandine ALLOU     2004    11.46    0.182  100 m        Heats      F
                          2008    11.75    0.204  100 m        Heats      F
Agné EGGERTH              2000    11.87    0.277  100 m        Heats      F
                          2004    11.44    0.177  100 m        Heats      F
Ahmed DOUHOU              1996    10.53      NaN  100 m        Heats      M
Aisea TOHI                2008    11.17    0.159  100 m        Heats      M
Aissata TOURÉ             2012    13.25    0.198  100 m  Preliminary      F
Akani SIMBINE             2016  10.14 Q    0.124  100 m        Heats      M
                          2016   9.98 q    0.144  100 m         Semi      M
                          2016     9.94    0.128  100 m        Final      M
Akeem HAYNES              2016    10.22    0.123  100 m        Heats      M
Akonga NSIMBO             2000    12.51    0.234  100 m        Heats      F
Alaa JASSIM               2004     12.7      NaN  100 m        Heats      F
Alberto MÉNDEZ            1996     10.6      NaN  100 m        Heats      M
...                                 ...      ...    ...          ...    ...
Yuliya NESTSIARENKA       2004  10.94 Q    0.240  100 m        Heats      F
                          2004  10.99 Q    0.206  100 m      Quarter      F
                          2004  10.92 Q    0.167  100 m         Semi      F
                          2004    10.93    0.186  100 m        Final      F
                          2008  11.40 Q    0.175  100 m        Heats      F
                          2008  11.14 q    0.187  100 m      Quarter      F
                          2008    11.26    0.156  100 m         Semi      F
Yuliya TABAKOVA           2004  11.22 Q    0.217  100 m        Heats      F
                          2004  11.25 q    0.204  100 m      Quarter      F
                          2004    11.25    0.179  100 m         Semi      F
Zaidatul Husniah ZULKIFLI 2016  12.12 q    0.151  100 m  Preliminary      F
                          2016    12.62    0.149  100 m        Heats      F
Zhanna BLOCK              1996     11.2      NaN  100 m        Heats      F
                          2000  11.27 Q    0.215  100 m        Heats      F
                          2000  11.08 Q    0.191  100 m      Quarter      F
                          2000  11.32 Q    0.227  100 m         Semi      F
                          2000     11.2    0.223  100 m        Final      F
                          2004       DQ    0.186  100 m        Heats      F
                          2004       DQ    0.203  100 m      Quarter      F
                          2004       DQ    0.158  100 m         Semi      F
Zhenye XIE                2016  10.08 Q    0.143  100 m        Heats      M
                          2016    10.11    0.134  100 m         Semi      M
Zlatka GEORGIEVA          1996    11.74      NaN  100 m        Heats      F
Ággelos PAVLAKÁKIS        2000      DNS      NaN  100 m        Heats      M
Ángel David RODRÍGUEZ     2008  10.34 q    0.145  100 m        Heats      M
                          2008    10.35    0.154  100 m      Quarter      M
                          2012    10.34    0.168  100 m        Heats      M
Ángela TENORIO            2016  11.35 q    0.150  100 m        Heats      F
                          2016    11.14    0.145  100 m         Semi      F
Édson RIBEIRO             1996    10.39      NaN  100 m        Heats      M

                                selector
ATHLETE                   Year
Aaron BROWN               2016       200
Abdul GHAFOOR             1996       200
Abdul Wahab ZAHIRI        2016       200
Abdullah AL-SOOLI         2008       200
Abdullah Abkar MOHAMMED   2016       200
Abiodun OYEPITAN          2004       200
                          2004       200
                          2004       200
                          2012       200
                          2012       200
Abraham KEPSIN            2000       200
Adam GEMILI               2012       200
                          2012       200
Adrian DURANT             2004       200
Adrian GRIFFITH           2016       200
Afa ISMAIL                2012       200
Affoué Amandine ALLOU     2004       200
                          2008       200
Agné EGGERTH              2000       200
                          2004       200
Ahmed DOUHOU              1996       200
Aisea TOHI                2008       200
Aissata TOURÉ             2012       200
Akani SIMBINE             2016       200
                          2016       200
                          2016       200
Akeem HAYNES              2016       200
Akonga NSIMBO             2000       200
Alaa JASSIM               2004       200
Alberto MÉNDEZ            1996       200
...                                  ...
Yuliya NESTSIARENKA       2004       200
                          2004       200
                          2004       200
                          2004       200
                          2008       200
                          2008       200
                          2008       200
Yuliya TABAKOVA           2004       200
                          2004       200
                          2004       200
Zaidatul Husniah ZULKIFLI 2016       200
                          2016       200
Zhanna BLOCK              1996       200
                          2000       200
                          2000       200
                          2000       200
                          2000       200
                          2004       200
                          2004       200
                          2004       200
Zhenye XIE                2016       200
                          2016       200
Zlatka GEORGIEVA          1996       200
Ággelos PAVLAKÁKIS        2000       200
Ángel David RODRÍGUEZ     2008       200
                          2008       200
                          2012       200
Ángela TENORIO            2016       200
                          2016       200
Édson RIBEIRO             1996       200

[1510 rows x 11 columns]

### Congratulations, you are now familiar with the basic of programmatic operations on structured data!